// color: #05a3af;
// background-color: #f86440;
.truck-detail-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:25px;
}
.truck-detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 10px;
  padding: 20px;
  margin-top:50px;
  max-width: 800px;
  @media screen and (max-width: 600px) {
    width: 100vw;
    border: 0;
    border-radius: 0px;
  }
}
.truck-rating {
  background-image: url(/images/icons/star.svg);
  background-position: top 2px left;
  @apply pl-5 bg-no-repeat text-mineshaft font-medium text-sm;

  > span {
    @apply text-polo-blue;
  }
}
.truck-detail-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;

  .mdi {
    margin-left: -5px;
  }
  @media screen and (max-width: 600px) {
    padding: 0px;
    flex-direction: column;
  }
}
.truck-detail-first {
  margin-bottom: 50px;
}


.truck-detail-default-avatar {
  background-image: url(/images/photos/default-foodtruck.jpg);

  /* make a square container */
  width: 150px;
  height: 150px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}
.truck-detail-avatar {

  width: 150px;
  height: 150px;
  img{
    object-fit: cover;
    border-radius:50%;
    width: 150px;
    height: 150px;
  }
}
.truck-detail-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  @media screen and (max-width: 600px) {
    padding: 0px;
    flex-direction: column;
  }
}
.truck-detail-name-title {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  text-transform: uppercase;
  @media screen and (max-width: 600px) {
    margin-left: 0px;
  }
}
.truck-detail-title {
  font-size: 12px;
  font-weight: 200;
  color: #05a3af;
}

.truck-detail-description {
  font-size: 18px;
  font-weight: 400;
  color: rgb(38, 38, 43);
  padding: 50px;
  margin: 15px;
  border-radius: 10px;
}
.truck-detail-prestation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  div {
    margin: 5px;
  }
}
.truck-detail-drinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  div {
    margin: 5px;
  }
  .v-chip {
    background-color: #93bfc2 !important;
  }
}
.truck-detail-onlyOnePlace {
  font-size: 11px;
  margin-left: 5px;
  text-transform: lowercase;
  @media screen and (max-width: 600px) {
    margin-left: 0;
  }
}
.truck-detail-infos {
  margin: 10px;
  padding: 15px;
  background-color: rgb(255, 208, 190);
  border-radius: 15px;
}
.truck-detail-googlemaps {
  text-align: center;
  .v-btn {
    background-color: #a8d7dc !important;
  }
}
.truck-detail-contact {
  margin: 10px;
  border-radius: 15px;
  color: #fff;
  .v-btn {
    width: 100%;
    background-color: #a8d7dc !important;
  }
}

.truck-detail-parent-weekPlaces {
  margin: 10px;
  padding: 15px;
  background-color: rgb(255, 208, 190);
  border-radius: 15px;
}
.truck-detail-weekPlaces {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #19565a;

  .mdi {
    margin-right: 5px;
  }
}
.truck-detail-weekPlace-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #05a3af;
  margin-right: 10px;
}
.truck-detail-weekPlace {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #19565a;
  padding: 5px;
  .v-timeline-item__dot {
    width: 10px;
    height: 10px;
  }
  div {
    margin-left: 5px;
  }
}
.truck-detail-weekPlace-city {
  color: #05a3af;
}
.truck-detail-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 15px;
  background-color: #fafafa;
  border-radius: 15px;
}
.truck-detail-parent-map {
  margin-top: 50px;
  margin-bottom: 50px;
}
.truck-detail-comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  padding: 15px;
  background-color: #fafafa;
  border-radius: 15px;
}
.truck-detail-comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 15px;
}

.truck-detail-comment-dateCreation {
  color: rgb(199, 198, 198);
  font-size: 11px;
}

.truck-detail-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 600px;
  .v-carousel {
    border-radius: 35px;
  }
  @media screen and (max-width: 600px) {
    width: 80vw;
  }
}
.truck-detail-default-image {
  background-image: url(/images/photos/default-foodtruck.jpg);
}
.truck-detail-map {
  padding: 10px;
  width: 100%;
  height: 200px;
}
.truck-detail-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  .v-icon {
    cursor: pointer;
  }
}
.truck-price {
  @apply text-mineshaft font-medium mt-3;

  > span {
    @apply text-polo-blue font-normal;
  }
}

.truck-details-property {
  h1 {
    @apply text-east-bay text-4xl font-medium leading-snug mb-8;
  }

  .truck-address {
    @apply text-lg bg-left;
  }

  .truck-rating {
    @apply text-lg bg-left;
  }

  .truck-price {
    @apply text-dodger-blue text-6xl mt-0 leading-none mb-10;

    span {
      @apply text-4xl;
    }
  }

  .truck-search {
    @apply grid grid-cols-2 gap-4;

    input {
      @apply mr-0;
    }
  }

  .truck-footer {
    @apply border-t border-dashed border-dusty-gray pt-12 mt-14 pb-18 text-xl font-medium text-east-bay;
  }
}
