<style lang="scss" src="./TruckDetail.scss"></style>
<template src="./TruckDetail.html"></template>

<script>
import pluralize from "~/utils/pluralize";
import { formatDateFull, dayFR } from "~/utils/shortDate";

export default {
  props: {
    user: {},
    users: {
      type: Array,
      required: true,
    },
  },
  mounted() {
    if (this.$route.query.result == "success") {
      alert("Success!");
    }
  },
  methods: {
    pluralize,
    formatDateFull,
    dayFR,
    checkout() {
      if (!this.range.start || !this.range.end) {
        alert("Please select a start and end date");
        return;
      }
      if (this.range.start.toString() == this.range.end.toString()) {
        alert("Start and end dates must be at least 1 day apart");
        return;
      }

      if (!this.$store.state.auth.isLoggedIn) {
        alert("You must sign in to book your stay");
        return;
      }

      //   const start = this.range.start.getTime() / 1000;
      //   const end = this.range.end.getTime() / 1000;
      //   this.$stripe.checkout(this.user.id, start, end);
    },
    convertDay(day) {
      switch (day) {
        case 1:
          return "lundi";
        case 2:
          return "mardi";
        case 3:
          return "mardi";
        case 4:
          return "mardi";
        case 5:
          return "mardi";
        case 6:
          return "mardi";
        case 7:
          return "mardi";
        default:
          return "...";
      }
    },

    stars(stars) {
      return stars.reduce((a, b) => a + b) / stars.length;
    },
    convertDateCreation(dateJs) {
      return "todo date convertor"
    },
    maps(user) {
      const lat = user.location.coordinates[0];
      const lon = user.location.coordinates[1];
      return 'https://www.google.com/maps/@'+lat+','+lon+','+16+'z'
    }
  },
  data() {
    return {
      range: {
        start: null,
        end: null,
      },
    };
  },
};
</script>
