<div class="truck-detail-parent">
<div>
  <v-btn href="/" rounded>
    Retour
  </v-btn>
</div>
<div class="truck-detail-wrapper">
  <div class="truck-detail-first">
    <!-- header -->
    <div class="truck-detail-header">
      <div v-if="user.foodTruckImage == ''">
        <div class="truck-detail-default-avatar"></div>
      </div>
      <div v-if="user.foodTruckImage != ''">
        <div class="truck-detail-avatar">
          <img :src="user.foodTruckImage" />
        </div>
      </div>
      <div class="truck-detail-name-title">
        <h1>{{user.name}}</h1>
        <div class="truck-detail-title">
          {{user.title}}
        </div>
        <div class="truck-detail-city">
          <v-icon large color="#f86440">
            mdi-map-marker
          </v-icon>
          <div>
            {{user.location.city}} ({{user.location.postalCode}})
          </div>
          <div class="truck-detail-onlyOnePlace" v-if="!user.onlyOnePlace">
            mais je bouge jusqu'à {{user.radiusAction}} km !
          </div>
        </div>
      </div>
    </div>
    <!-- everagePrice -->

    <!-- <div class="truck-price">
        €{{ user.everagePrice }}<span> / moyen</span>
      </div>
       -->
    <!-- prestation -->
    <div class="truck-detail-prestation">
      <div v-for="(prestation, index) in user.prestations">
        <v-chip> {{prestation}}</v-chip>
      </div>
    </div>
    <!-- drinks -->
    <div class="truck-detail-drinks">
      <div v-for="(drink, index) in user.drinksList">
        <v-chip> {{drink}}</v-chip>
      </div>
    </div>
    <!-- description -->
    <div class="truck-detail-description">
      {{user.description}}
    </div>

    <div class="">
      <!-- images -->
      <div class="truck-detail-images">
        <v-carousel :show-arrows="false">
          <v-carousel-item
            v-for="(image, index) in user.images"
            :key="index"
            :src="image"
            reverse-transition="fade-transition"
            transition="fade-transition"
          >
          </v-carousel-item>
        </v-carousel>
      </div>

      <!-- onlyReservation -->
      <div class="truck-detail-infos">
        <div v-if="user.onlyReservation">
          <v-icon large color="#f86440">
            mdi-calendar-search
          </v-icon>
          Je ne fonctionne que sur réservation, donc contactez moi !
        </div>
        <!-- onlyEvent -->
        <div v-if="user.onlyEvent">
          <v-icon large color="#f86440">
            mdi-calendar-alert
          </v-icon>
          Je ne fais que dans l'évènementiel, donc contactez moi !
        </div>
        <!-- sitDown -->
        <div v-if="user.sitDown">
          <v-icon large color="#f86440">
            mdi-calendar-alert
          </v-icon>
          Vous pouvez manger sur place !
        </div>
        <!-- onlyDelivery -->
        <div v-if="user.onlyDelivery">
          <v-icon large color="#f86440">
            mdi-calendar-alert
          </v-icon>
          Je ne fais que de la vente à emporter !
        </div>
  
      </div>

      <!-- onlyOnePlace -->

      <div class="truck-detail-parent-weekPlaces" v-if="user.weekPlaces">
        <div class="truck-detail-weekPlaces">
          <v-icon large color="#05a3af">
            mdi-calendar
          </v-icon>
          Mon planning en détail !
        </div>

        <div
          class="truck-detail-weekPlace"
          v-for="(weekPlace, index) in user.weekPlaces"
        >
          <div class="truck-detail-weekPlace-circle"></div>

          <div class="truck-detail-weekPlace-day">
            {{ dayFR(weekPlace.day)}}
          </div>
          <div class="truck-detail-weekPlace-city">
            {{weekPlace.location.city}}
          </div>
          <div class="truck-detail-weekPlace-hours">
            {{weekPlace.begin}} - {{weekPlace.end}}
          </div>
        </div>
      </div>
    </div>

    <div class="truck-detail-contact">
      <v-btn @click="addComment" rounded>
        Contactez moi !
      </v-btn>
    </div>
    <div class="truck-detail-social">
      <div v-if="user.social.fb && user.social.fb!=''">
        <a :href="user.social.fb" target="_blank">
          <v-icon large color="#f86440">
            mdi-facebook
          </v-icon>
        </a>
      </div>
    </div>

    <div class="truck-detail-parent-map">
      <div class="truck-address">
        {{user.location.city }} {{ user.location.address }} {{
        user.location.postalCode }}
      </div>
      <div class="truck-detail-map">
        <MapTruck v-bind:users="users" />
      </div>
      <div class="truck-detail-googlemaps">
        <v-btn rounded :href="maps(user)" target="_blank">
          Ouvrir avec maps
        </v-btn>
      </div>
    </div>

    <!-- rating -->
    <div class="truck-detail-rating">
      <div>
        Votre avis compte !
      </div>
      <v-rating
        color="#05a3af"
        large
        readonly
        length="5"
        size="64"
        :value="stars(user.stars)"
      ></v-rating>
    </div>
    <!-- comments -->
    <div class="truck-detail-comments">
      <div
        v-for="(comment, index) in user.comments"
        class="truck-detail-comment"
      >
        <div class="truck-detail-comment-dateCreation">
          le {{ formatDateFull(comment.dateCreation) }} par {{ comment.userName
          }}
        </div>
        <div class="truck-detail-comment-comment">
          {{comment.comment}}
        </div>
      </div>

      <div class="truck-detail-googlemaps">
        <v-btn @click="addComment" rounded>
          Laisser un commentaire
        </v-btn>
      </div>
    </div>
  </div>
</div>
</div>