<!-- HEADER & NAVBAR -->
      <header>
            <nav>
             <ul class="supernavigation">
                <ul class="navigation-gauche">
                    <li>APPLICATION COURSE A PIED CAPOUT</li>                            
                </ul>  
                <ul class="navigation-droite" >
                   <li><a ui-sref-active="active" ui-sref=".accueil" >ACCUEIL</a></li>
                   <li><a ui-sref-active="active" ui-sref=".vitesse-performance-huge"  >VITESSE ET PERFORMANCE</a></li>
                   <li style="opacity: 0.5;cursor: not-allowed">ESTIMATION</li>  
                </ul>   
                </ul>     
            </nav>

        </header> 

        <div class="sous_header"></div>
        <div class="titre" ></div>