<!-- HEADER & NAVBAR -->

<div ng-controller="menuCtrl" id="menu"> 

      <header>
            <nav>
             <ul class="supernavigation">
                <ul class="navigation-gauche">
                    <li>CAPOUT</li>                            
                </ul>  
                <ul class="navigation-droite" >
                   <li><a id="nav_accueil" ui-sref=".accueil" >ACCUEIL</a></li>
                   <li><a id="nav_vitesse" ui-sref=".vitesse" >VITESSE</a></li>
                   <li><a id="nav_allure" ui-sref=".allure"  >ALLURE</a></li>
                   <li><a id="nav_tpspassage" ui-sref=".tps-passage" >PASSAGE</a></li>
                   <li><a id="nav_graph1" ui-sref=".performance"  >PERF</a></li>
                   
                </ul>   
                </ul>     
            </nav>

        </header> 
</div>
        <div class="sous_header"></div>
        <div class="titre" ></div>

   <!-- <div ui-view></div> -->

<div ng-controller="vitesseCtrl as vm" > 
        <div ui-view="vue_vitesse"></div>
       
        <div ui-view="vue_allure"  ng-controller="allureCtrl as vmp"></div>
        <div ui-view="vue_tpspassage"  ng-controller="tpspassageCtrl as vmp"></div>
        <div ui-view="vue_graph1"  ng-controller="graph1Ctrl as vmp"></div>
        <div ui-view="estim"></div>
      
</div>