.parent-map {
  width: 40%;
  min-width: 40%;
  height: 650px;
}

.map {
  // surcharge de map issue de leaflet
  border-radius: 10px;
}
.marker-user {
  background-color: white;
  border: 1px solid lightgray;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 8px;
}
.marker-highlight {
  color: white !important;
  background-color: black;
  border-color: black;
}
.truck-map-tooltip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
}
