<style lang="scss" src="./MapTruck.scss"></style>
<template src="./MapTruck.html"></template>

<script>

import 'leaflet/dist/leaflet.css';
import 'leaflet-gesture-handling/dist/leaflet-gesture-handling.css';

// https://github.com/vue-leaflet/Vue2Leaflet/issues/430
export default {
  props: {
    users: {
    type: Array,
    required: true
  },
  },

  components: {},
  data() {
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      center: [49.1193089, 6.1757156],
      zoom: 10,
        mapOptions: {
        zoomSnap: 0.5,
        gestureHandling:true
      }
    };
  },
  methods: {
    highlightMarker(users, userId, index, isHighlighted) {
      if (isHighlighted) {
        users[index].markerColor = "orange";
      } else {
        users[index].markerColor = "blue";
      }
       document
        .getElementsByClassName(`marker-user-${userId}`)[0]
        ?.classList?.toggle("marker-highlight", isHighlighted);
      document
        .getElementsByClassName(`list-truck-item-${userId}`)[0]
        ?.classList?.toggle("user-highlight", isHighlighted);
    },
    zoomUpdated(zoom) {
      this.zoom = zoom;
      console.log(this.markers);
    },
    centerUpdated(center) {
      this.center = center;
    },
    goTo(url) {
      window.location.href = url;
    }
  },
};
</script>
