<l-map
  :center="center"
  :zoom="zoom"
  gestureHandling :options="mapOptions"
  class="map"
  ref="map"
  @update:zoom="zoomUpdated"
  @update:center="centerUpdated"
>
  <l-tile-layer :url="url"> </l-tile-layer>

  <div v-for="(user, index) in users" :key="index">
    <!-- Create HTML icon (divIcon) by providing content inside the l-icon tag -->
    <l-marker
      @mouseover="highlightMarker(users, user.id, index, true)"
      @mouseout="highlightMarker(users, user.id, index, false)"
      @click="goTo('/detail/' + user.id)" 
      :lat-lng="user.location.coordinates"
    >
      <l-icon class-name="someExtraClass">
        <div :class="`marker-user-${user.id}`">
          <!-- {{ user.id }} -->
        </div>
        <img :src="`/images/zev-marker-${user.markerColor}.png`" />
      </l-icon>
      <l-tooltip> 
        <nuxt-link
        :to="'/detail/' + user.id"
        :key="user.id"     
        @mouseover.native="highlightMarker(users, user.id, index, true)"
        @mouseout.native="highlightMarker(users, user.id, index, false)"
      >
        <div class="list-truck-item"   :class="`list-truck-item-${user.id}`">
          
          <img v-if="user.foodTruckImage!=''" :src="user.foodTruckImage"/>
          <img v-if="user.foodTruckImage==''" src="/images/photos/default-foodtruck.jpg"/>
          <p class="list-truck-item-name">{{ user.name }}</p>
          <p class="list-truck-item-city">{{ user.location.city }}</p>
        </div>
      </nuxt-link>
        
        
        
        
        </l-tooltip
      >
    </l-marker>
  </div>
</l-map>
