<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur GECOF</title>
    </style>
  </head>

  <div style="padding:25px;background-color: #f0f0f0;">
    <h3>Bienvenue sur GECOF !</h3><br />
     Veuillez s'il vous plait cliquer sur le lien de confirmation pour valider votre inscription : <a rel="notrack" href="{{confirmUrl}}">ici</a>
     
     {{#isAdmin isAdmin}}
     <p> Ensuite, vous pourrez créer vos clients, votre catalogue de produits, vos devis, vos factures...</p>
     <p> Vous bénéficiez à partir d'aujourd'hui de 15 jours d'utilisation gratuite ! </p>
     <p> Nous vous souhaitons une bonne continuation</p>
     <p> Bien cordialement </p>

     <div style = "padding:5px;border-radius:5px;background-color:#fff;margin-top:50px;font-size: 11px;color:#ccc">
      Vous avez reçu cet email car cous avez demandé une ouverture de compte utilisateur pour utiliser le logiciel en ligne GECOF
      © {{annee}} GECOF, FR
    </div>

     {{/isAdmin}}

     {{#isnotAdmin isAdmin}}
     <p> L'administrateur de votre entreprise vient de créer votre compte, il vous sera nécessaire de vous connecter avec ce mot de passe :</p>
     <p style = "font-weight: bold;"> {{password}}</p>
     <p> Vous pourrez le modifier plus tard dans votre profil</p>

     <div style = "padding:5px;border-radius:5px;background-color:#fff;margin-top:50px;font-size: 13px;color:#ccc">
      Attention, nous ne stockons pas vos contrats: prenez donc le soin de les sauvegarder par vos propres moyen !
    </div>

     <div style = "padding:5px;border-radius:5px;background-color:#fff;margin-top:50px;font-size: 11px;color:#ccc">
      Vous avez reçu cet email car l'administrateur de votre entreprise a demandé une ouverture de compte utilisateur pour utiliser le logiciel en ligne GECOF
      © {{annee}} GECOF, FR
    </div>

     {{/isnotAdmin}}


     <p> L'équipe GECOF </p>
     <p><a rel="notrack" href='https://gecof-logiciel.fr/'>GECOF</a></p>

  </div>


 
</html>
