<!DOCTYPE html>
<html>
  <head>
    <title>Merci pour votre confiance</title>
    </style>
  </head>

  <div style="padding:25px;background-color: #f0f0f0;">
    <h3>Bienvenue sur GECOF {{typeAbonnement}} !</h3><br />
 
     <p> Votre demande d'abonnement GECOF {{typeAbonnement}} a bien été pris en compte. Les factures associées vous seront envoyées tous les mois par email. </p>
     <p> Nous vous souhaitons une bonne continuation, bien Cordialement, </p>

     <div style = "padding:5px;border-radius:5px;background-color:#fff;margin-top:50px;font-size: 11px;color:#ccc">
      Vous avez reçu cet email car vous avez demandé un abonnement pour utiliser le logiciel en ligne GECOF
      © {{annee}} GECOF, FR
    </div>


     <p> L'équipe GECOF </p>

  </div>


 
</html>
