<!DOCTYPE html>
<html>
  <head>
    <title>Envoie d'un document de la part de {{nameTenant}} à destination de {{nameClient}}</title>
    </style>
  </head>

  <div style="padding:25px;background-color: #f0f0f0;">
     <p> Envoie d'un document de la part de {{nameTenant}} à destination de {{nameClient}} </p>
     <p> {{message}} numéro {{nameContrat}}</p>
     <p> Bien cordialement </p>

     <div style = "padding:5px;border-radius:5px;background-color:rgb(211, 211, 211);margin-top:50px;font-size: 11px;color:#ccc">
      Vous avez reçu cet email car vous avez sûrenement fait une demande de devis ou de facture à l'entreprise {{nameTenant}}
      © {{annee}} GECOF, FR
    </div>


     <p> L'équipe GECOF </p>

  </div>


 
</html>
