<!DOCTYPE html>
<html>
  <head>
    <title>Contrat {{typeContrat}}</title>

    <style type="text/css">
      .parent-pdf {
        position: relative;
        width: 1200px;
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: rgb(33, 33, 33);
        margin-left: 75px;
      }

      .bodypdf {
        width: 85%;
        position: relative;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      }

      .parent-infos {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 15px;
      }

      .info-client {
        margin-left: 250px;
        margin-top: -30px;
      }

      .catalogue-parent {
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 25px;
      }
      .catalogue-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(241, 238, 238);
        align-items: center;
        align-content: center;
        padding: 5px;
      }
      .catalogue {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        height: 50px;
        padding: 5px;
      }
      .derniere-ligne-total {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        height: 50px;
        padding: 5px;
        margin-top: 20px;
      }
      .catalogue-titre {
        margin-top: 25px;
        margin-bottom: 5px;
        font-weight: 800;
        font-size: 18px;
        color: rgb(25, 25, 26);
      }
      .catalogue-list {
        display: flex;
        flex-direction: column;
        border-left: 2px solid rgb(171, 223, 150);
      }
      .column-intitule-sousTotal {
        width: 350px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(66, 66, 67);
        font-size: 20px;
        word-wrap: break-word;
        line-height: 15px;
      }
      .column-intitule {
        width: 350px;
        font-size: 12px;
        color: rgb(102, 101, 101);
        word-wrap: break-word;
        margin: 3px;
        line-height: 15px;
      }
      .column-autre {
        width: 75px;
      }
      .column-intitule-total-ht {
        width: 350px;
        color: rgb(74, 74, 75);
        word-wrap: break-word;
        margin: 3px;
        line-height: 15px;
        font-weight: bold;
        font-size: 22px;
      }
      .column-intitule-total-ttc {
        width: 350px;
        color: rgb(14, 14, 14);
        word-wrap: break-word;
        margin: 3px;
        line-height: 15px;
        font-weight: bold;
        font-size: 25px;
      }
      .column-totalHT {
        width: 75px;
        font-weight: bold;
        color: rgb(74, 74, 75);
        font-size: 25px;
      }
      .column-totalTTC {
        width: 75px;  
        font-weight: bold;
        color: rgb(14, 14, 14);
        font-size: 25px;
      }
      .column-soustotalHT {
        width: 75px;
        font-weight: bold;
        color: rgb(42, 42, 42);
        font-size: 20px;
      }

      .column-tauxTVA {
        width: 75px;
        word-wrap: break-word;
        font-weight: bold;
      }

      .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 85%;
      }
      .parent-logo {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
      }
      .logo {
        margin-bottom: 10px;
        width: 150px;
      }

      .super-block-tenant-client {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 25px;
      }
      .block-tenant {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .block-client {
        font-size: 18px;
        margin-right: 75px;
      }

      .type-contrat {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .info-date {
        font-size: 17px;
        font-weight: bold;
        margin-top: 5px;
      }
      .rotate-typecontrat {
        position: absolute;
        left: -100px;
        top: 120px;
        opacity: 0.5;
        color: rgb(46, 46, 46);
        font-size: 25px;
        transform: rotate(90deg);
        margin-left: -75px;
        width: 275px;
        white-space: nowrap;
      }
      .titre {
        opacity: 0.8;
        color: rgb(10, 10, 10);
        font-size: 25px;
        text-transform: uppercase;
      }
      .entreprise > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .email,
      .tel {
        font-size: 20px;
        color: rgb(44, 44, 44);
      }
      .tenant {
        font-size: 24px;
        color: rgb(27, 27, 27);
        font-weight: bold;
        text-transform: uppercase;
      }
      .siret {
        font-size: 20px;
        color: rgb(27, 27, 27);
      }

      .intituleEntreprise {
        font-size: 20px;
        color: rgb(46, 46, 46);
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      .adresseEntreprise {
        font-size: 20px;
        color: rgb(44, 44, 44);
      }

      .total-parent {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 0px;
        break-inside: avoid;
      }

      .catalogue-total {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        height: 30px;
        padding: 5px;
        font-size: 16px;
        border-left: 2px solid rgb(171, 223, 150);
        break-inside: avoid;
      }

      .catalogue-total-fin {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        height: 30px;
        font-size: 16px;
        border: 2px solid rgb(171, 223, 150);
      }
      .catalogue-total > div,
      .catalogue-total-fin > div {
        margin-left: 25px;
        width: 130px;
      }
      .catalogue-total-total {
        font-weight: bold;
      }
      .catalogue-total-multitva {
        margin-top: 10px;
      }

      .parent-signature {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .signature {
        width: 175px;
      }
      .periodeValidite {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20x;
        color: rgb(168, 73, 73);
        font-weight: bold;
      }
      .alternance {
        background-color: rgb(246, 246, 246);
      }
      .alternance-fit {
        background-color: rgb(246, 246, 246);
        width: fit-content;
      }
      .rib {
        margin-top: 10px;
        width: 400px;
        border-left: 2px solid rgb(171, 223, 150);
        break-inside: avoid;
      }
      .rib-element {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
      }
      .rib-element-title {
        margin-right: 25px;
      }
      .rib-element-text {
        font-weight: bold;
      }
      .signatures {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 25px;
      }
      .bonpouraccord {
        font-weight: bold;
        margin-top: 20px;
        font-size: 15px;
      }
      .parent-options {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .option-text {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>

  <div class="parent-pdf">
    <div class="header">
      {{#isDevisProvisoire devisProvisoire}}
      <div class="rotate-typecontrat">
        {{typeContrat}} provisoire - non contractuel
      </div>
      {{/isDevisProvisoire}} {{#isNotDevisProvisoire devisProvisoire}}
      <div class="rotate-typecontrat">{{typeContrat}}</div>
      {{/isNotDevisProvisoire}}
      <div class="parent-logo">
        <div class="super-block-tenant-client">
          <div>
            <img src="{{logo_entreprise_b64}}" class="logo" />
          </div>
          <div class="titre">{{titre}}</div>
        </div>

        <div class="super-block-tenant-client">
          <div class="block-tenant">
            <div class="tenant">{{nameTenant}}</div>
            <div class="siret">N° Siret: {{siret}}</div>
            <div class="intituleEntreprise">{{intituleEntreprise}}</div>

            <div class="adresseEntreprise">
              {{adresse}} {{complementAdresse}} {{codePostal}} {{ville}}
            </div>

            <div class="tel">{{tel}}</div>
            <div class="email">{{email}}</div>

              <!-- options commun devis/facture haut de page -->
              <div class="parent-options">
               {{#each optionsCommunHaut}}
                <div class="option-text">{{value}}</div>
                {{/each}} 

                {{#isDevis typeContrat}} 
                {{#each optionsDevisHaut}}
                <div class="option-text">{{value}}</div>
                {{/each}} {{/isDevis}} 

                {{#isFacture typeContrat}}
                 {{#each optionsFactureHaut}}
                <div class="option-text">{{value}}</div>
                {{/each}} {{/isFacture}}
                
              </div>


          </div>

          <div class="block-client">
            <div class="info-client">
              <div>{{nomClient}}</div>
              <div>{{adresseClient}}</div>
              <div>{{codePostalClient}} {{villeClient}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bodypdf">
      <div class="parent-infos">
        <div class="info-contrat">
          {{#isDevisProvisoire devisProvisoire}}
          <div class="type-contrat">
            {{typeContrat}} provisoire - non contractuel N°: {{nomContrat}}
          </div>
          {{/isDevisProvisoire}} {{#isNotDevisProvisoire devisProvisoire}}
          <div class="type-contrat">{{typeContrat}} N°: {{nomContrat}}</div>
          {{/isNotDevisProvisoire}}

          {{#isBonDeCommande bonDeCommande}}          
            <div class="bonDeCommande">N° du bon de commande:  {{bonDeCommande}} </div>
          {{/isBonDeCommande}}
         
          <div class="info-date">Le {{dateContrat}}</div>
        </div>
      </div>

      <div class="catalogue-parent">
        <div class="catalogue-header">
          <div class="column-intitule">INTITULE</div>
          <div class="column-autre">QTE</div>
          <div class="column-autre">U</div>
          <div class="column-autre">P.U.</div>
          <div class="column-autre">TVA</div>
          <div class="column-autre">H.T en €</div>
        </div>

        {{#each blocksCatalogue}}
        <div class="catalogue-titre">{{titre}}</div>
        <div class="catalogue-list">
          {{#each block}} {{#isOdd @index}}
          <div class="catalogue alternance">

            {{#isNotSousTotal intitule}}
            <div class="column-intitule-sousTotal">{{intitule}}</div>
            <div class="column-autre">{{quantite}}</div>
            <div class="column-autre">{{unite}}</div>
            <div class="column-autre">
              {{#math coutPerPU "+" coutHTReventeMatosPU}}{{/math}}
            </div>
            <div class="column-autre">{{tva}}</div>
            <div class="column-autre">{{totalLigne}}</div>
            {{/isNotSousTotal}}

             {{#isSousTotal intitule}}
             <div class="column-intitule-sousTotal">{{intitule}} H.T</div>
             <div class="column-autre"></div>
             <div class="column-autre"></div>
             <div class="column-autre"></div>
             <div class="column-autre"></div>
             <div class="column-autre">{{totalLigne}}</div>
             {{/isSousTotal}}
           
          </div>


          {{else}}
          <div class="catalogue">
            
            {{#isNotSousTotal intitule}}
            <div class="column-intitule-sousTotal">{{intitule}}</div>
            <div class="column-autre">{{quantite}}</div>
            <div class="column-autre">{{unite}}</div>
            <div class="column-autre">
              {{#math coutPerPU "+" coutHTReventeMatosPU}}{{/math}}
            </div>
            <div class="column-autre">{{tva}}</div>
            <div class="column-autre">{{totalLigne}}</div>
            {{/isNotSousTotal}}

             {{#isSousTotal intitule}}
             <div class="column-intitule-sousTotal">{{intitule}} H.T</div>
             <div class="column-autre"></div>
             <div class="column-autre"></div>
             <div class="column-autre"></div>
             <div class="column-autre"></div>
             <div class="column-autre">{{totalLigne}}</div>
             {{/isSousTotal}}
           
          </div>
          {{/isOdd}} {{/each}}
        </div>
        {{/each}}



        
        <div class="catalogue">
          <div class="column-intitule-total-ht">TOTAL H.T</div>
          <div class="column-autre"></div>
          <div class="column-autre"></div>
          <div class="column-autre"></div>
          {{#isNotMultipleTVA multipleTVA}}
          <div class="column-tauxTVA">{{tauxTVA}}</div>
          {{/isNotMultipleTVA}} {{#isMultipleTVA multipleTVA}}
          <div class="column-autre"></div>
          {{/isMultipleTVA}} 
          <div class="column-totalHT">{{totalHT}}</div>
        </div>
       
        {{# isNotPaymentTypeHT paymentType}}
        <div class="catalogue">
          <div class="column-intitule-total-ttc">TOTAL T.T.C</div>
          <div class="column-autre"></div>
          <div class="column-autre"></div>
          <div class="column-autre"></div>
          {{#isNotMultipleTVA multipleTVA}}
          <div class="column-tauxTVA">{{tauxTVA}}</div>
          {{/isNotMultipleTVA}} {{#isMultipleTVA multipleTVA}}
          <div class="column-autre"></div>
          {{/isMultipleTVA}}
          <div class="column-totalTTC">{{totalTTC}}</div>
        </div>
        {{/isNotPaymentTypeHT}}
       
      </div>
      <!-- <br><div style="page-break-after:always;"></div> -->
      <div class="total-parent">
        <div class="total">
          {{#isNotMultipleTVA multipleTVA}}
          <div class="total">
            <div class="catalogue-total">
              <div class="">Montant H.T total</div>
              <div class="">Montant TVA total</div>
              {{#isRemise remise}}
              <div class="">Remise en %</div>
              <div class="">Montant H.T avec remise</div>
              {{/isRemise}}

              {{# isNotPaymentTypeHT paymentType}}
              <div class="">Montant T.T.C total</div>
              {{/isNotPaymentTypeHT}}

              {{#isFacture typeContrat}}
              <div class="">Deja réglé</div>
              <div class="">Reste à régler</div>
              {{/isFacture}}
            </div>
            <div class="catalogue-total alternance-fit">
              <div class="">{{totalHT}} €</div>
              <div class="">{{totalTVA}} €</div>
              {{#isRemise remise}}
              <div class="">{{remise}} %</div>
              <div class="">{{totalHTApresRemise}}</div>
              {{/isRemise}}

              {{# isNotPaymentTypeHT paymentType}}
              <div class="catalogue-total-total">{{totalTTC}} €</div>
              {{/isNotPaymentTypeHT}}

              {{#isFacture typeContrat}}
              <div class="">{{dejaRegle}} €</div>
              <div class="catalogue-total-total">{{resteApayer}} €</div>
              {{/isFacture}}
            </div>
          </div>
          {{/isNotMultipleTVA}} {{#isMultipleTVA multipleTVA}} {{#each
          multipleTVA}}
          <div class="catalogue-total-multitva">
            <div class="catalogue-total">
              <div class="">Taux TVA</div>
              <div class="">Montant TVA total</div>
            </div>
            <div class="catalogue-total alternance-fit">
              <div class="">{{tauxTVA}} %</div>
              <div class="">{{totalTVA}} €</div>
            </div>
          </div>
          {{/each}}

          <div class="catalogue-total-multitva">
            <div class="catalogue-total">
              <div class="">Montant H.T total</div>
              {{#isRemise remise}}
              <div class="">Remise en %</div>
              <div class="">Montant H.T avec remise</div>
              {{/isRemise}}
              
              {{# isNotPaymentTypeHT paymentType}}
              <div class="">Montant T.T.C total</div>
              {{/isNotPaymentTypeHT}}

              {{#isFacture typeContrat}}
              <div class="">Deja réglé</div>
              <div class="">Reste à régler</div>
              {{/isFacture}}
            </div>
            <div class="catalogue-total alternance-fit">
              <div class="catalogue-total-total">{{totalHT}} €</div>
              {{#isRemise remise}}
              <div class="">{{remise}} %</div>
              <div class="">{{totalHTApresRemise}}</div>
              {{/isRemise}}
              
              {{# isNotPaymentTypeHT paymentType}}
              <div class="catalogue-total-total">{{totalTTC}} €</div>
              {{/isNotPaymentTypeHT}}

              {{#isFacture typeContrat}}
              <div class="">{{dejaRegle}} €</div>
              <div class="catalogue-total-total">{{resteApayer}} €</div>
              {{/isFacture}}
            </div>
          </div>

          {{/isMultipleTVA}} {{#isDevis typeContrat}}
          <div class="periodeValidite">
            <div>
              Ce devis est valable {{periodeValidite}} jours à partir
              d'aujourd'hui, au delà il n'est plus valable.
            </div>
          </div>
          {{/isDevis}}
        </div>
      </div>

      <div class="signatures">
        <div class="bonpouraccord">Bon pour accord</div>
        <div class="parent-signature">
          <img src="{{signature_b64}}" class="signature" />
        </div>
      </div>

      {{#isFacture typeContrat}}
      <div class="periodeValidite">
        Cette facture doit être réglée entièrement avant {{periodeValidite}}
        jours à partir d'aujourd'hui, au delà des pénalités de paiements peuvent
        être engagées à l'encontre du payeur.
      </div>
      {{/isFacture}} {{#isFacture typeContrat}} {{#isRib ribBooleanFacture}}
      <div class="rib">
        <div class="rib-element alternance">
          <div class="rib-element-title">titulaire</div>
          <div class="rib-element-text">{{titulaireRib}}</div>
        </div>
        <div class="rib-element">
          <div class="rib-element-title">RIB</div>
          <div class="rib-element-text">{{ribCle}}</div>
        </div>
        <div class="rib-element alternance">
          <div class="rib-element-title">IBAN</div>
          <div class="rib-element-text">{{iban}}</div>
        </div>
        <div class="rib-element">
          <div class="rib-element-title">BIC</div>
          <div class="rib-element-text">{{bic}}</div>
        </div>
      </div>
      {{/isRib}} {{/isFacture}}
    </div>

    <!-- options bas de page -->

    <div class="parent-options">
      {{#isDevis typeContrat}} {{#each optionsDevisBas}}
      <div class="option-text">{{value}}</div>
      {{/each}} {{/isDevis}} {{#isFacture typeContrat}} {{#each optionsFactureBas}}
      <div class="option-text">{{value}}</div>
      {{/each}} {{/isFacture}}
      
    </div>

  </div>
</html>
