
<style>

		footer{
			
			border-top:1px solid #ccc;
			color: rgb(102,102,102);
			box-sizing: border-box;
			width: 1200px;
			text-align: center;
		}
		.parent-footer{
			display: flex;
			flex-direction: column;
			justify-content: center;	
			align-items: center;	
			background-color: rgb(140, 163, 162);
		}

		.pre-footer{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 8px;
			margin-top:5px;
			color:rgb(146, 145, 145);			
		}
		.last{
			display: flex;
			margin-left:50px;
			margin-right:50px;
			justify-content: space-between;
			flex-direction: row;
		}
        .geco{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			color:#ccc;
			font-size: 6px;
		}
		.logo-geco{
			margin-right:10px;
			width: 25px;
			height: 20px;
		}
		.texteFooter{
			text-align: justify;
			font-size: 7px;
			color: black;
			margin-left:50px;
			margin-right: 50px;
			margin-top:3px;
			margin-bottom: 3px;
		}
		.pagination{
			display: flex;
			flex-direction: row;
			align-items: center;			
			color:black;
			font-size: 8px;
			}
</style>
<footer>
	<div class="parent-footer">
		<div class="pre-footer">
		

			<div >{{nameTenant}} - N° Siret: {{siret}} </div>
			
			{{#isNotExonereTvaOrAsso exonereTvaOrAsso}}
			<div >{{codeApe}} - N° TVA intracom {{codeTva}}</div>
			{{/isNotExonereTvaOrAsso}}


			{{#isExonereTvaOrAsso exonereTvaOrAsso}}
			<div> TVA non applicable selon l’article 293 B du Code Général des Impôts </div>
			{{/isExonereTvaOrAsso}}

	
		
		</div>
		<div class="texteFooter">
			{{textFooter}}
		</div>
	
	
		
	</div>
	<div class="last">
		<div class="geco">
			<img src="{{logoGeco}}" class="logo-geco" />
			<div>Edité par le logiciel GECOF</div> 
		</div>
		<div class="pagination">page <div class='pageNumber'></div> <div> / </div><div class='totalPages'></div></div>
</div>
</footer>


