.speed-row {
  background-color: rgb(248, 252, 255);
}
.parent-speed {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.speed-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  input {
    max-height: 33px;
    margin-left:5px;
  }

}
.v-label {
  left:5px!important;
}
.speed-form {
  margin-top: 50px;
  background-color: rgb(242, 242, 242);
  border-radius: 25px;
  padding:50px;
  min-width: 760px;
  width: 760px;

}
.parent-speed-pres {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2.hr {
  width: 450px;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0;
  margin: 60px 0 30px;
  font-size: 16px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
span.hr {
  background-color: white;
  padding: 0 10px;
  font-family: "Roboto Condensed";
  color: #999;
}
.speed-infos {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: rgb(77, 77, 77);
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  align-self: start;
}
blockquote ol:last-child,
blockquote p:last-child,
blockquote div:last-child {
  margin-bottom: 0;
}
blockquote .small,
blockquote footer,
blockquote small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
blockquote .small:before,
blockquote footer:before,
blockquote small:before {
  content: "\2014 \00A0";
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0;
}
.blockquote-reverse .small:before,
.blockquote-reverse footer:before,
.blockquote-reverse small:before,
blockquote.pull-right .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before {
  content: "";
}
.blockquote-reverse .small:after,
.blockquote-reverse footer:after,
.blockquote-reverse small:after,
blockquote.pull-right .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after {
  content: "\00A0 \2014";
}

.p_index {
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}

.bouton_valider {
  background-color: #fff;
  color: #000;
  border: 2px solid #558abb;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
}
.bouton_valider,
.bouton_valider:hover {
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  max-width: 175px;
  width: 100%;
  min-width: 10px;
}
.bouton_valider:hover {
  background-color: #8cb0d1;
  color: #fff;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.titre-dernierecap {
  margin-top: 100px;
}
.speed-row.speed-result{
  input{
    color:#6483a0;
    font-weight: bold;
  }
}
.speed-results-details{
  padding:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  .details {
    color:#6483a0;
    font-weight: bold;
  }
}

div.pace{
  background-color: rgb(242, 242, 242);
  border-radius: 25px;
  padding:20px;
  min-width: 760px;
  width: 760px;
  border-left-width: 1px;
  border-radius: 5px;
  display: flex;  
  flex-direction: row; 
  margin-top: 25px;
  margin:25px 10px 0px 10px;
}

div.sub_pace{
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 10px;
  margin:0 auto;
}

div.sub_pace div:nth-child(1){
  font-size:18px;
}

div.sub_pace div:nth-child(2){
  font-size:15px;
}

.speed-results{
  min-width: 760px;
  width: 760px;
  margin-top:50px;
}