<div data-app class="app">
  <div class="parent-speed">
    <div class="parent-speed-pres">
      <h2 class="hr">
        <span class="hr">Vitesse et Performance en course à pied</span>
      </h2>

      <div class="p_index">
        En calculant la vitesse moyenne de votre sortie en course à pied en
        km/h, en m/s, ou en miles/h, on obtient:
      </div>

      <blockquote>
        <p>
          <strong>L'allure de course à pied</strong>, c'est à dire le temps
          nécessaire pour parcourir 1km.
        </p>
      </blockquote>

      <blockquote>
        <p>
          <strong>Le Bareme FFA</strong> correspondant à la performance
          réalisée.
        </p>
      </blockquote>

      <blockquote>
        <p>
          <strong>La projection de la performance</strong> sur une distance
          officielle plus longue.
        </p>
      </blockquote>
      <div class="speed-infos">
        <div>
          *Bareme FFA:
          <a
            href="http://www.athle.fr/asp.net/main.html/html.aspx?htmlid=125"
            target="_blank"
            >Bareme officiel de la Fédération Française d'Athétisme.</a
          >
        </div>
        <div>
          *VMA:
          <a
            href="https://fr.wikipedia.org/wiki/Speed_maximale_a%C3%A9robie"
            target="_blank"
            >Vitesse Maximale Aérobie.</a
          >
        </div>
      </div>
    </div>

    <v-container class="speed-form">
      <v-form ref="formSpeed" model="validSpeed">
        <div class="speed-row">
          <v-text-field
            id="distance"
            v-model="distance"
            :rules="distanceRules"
            label="distance"
            required
            autofocus
          ></v-text-field>
          <v-select
            :items="itemsDistanceUnit"
            v-model="itemsDistanceUnitSelected"
            item-text="name"
            return-object
            filled
            label="Unité"
            v-on:change="handleItemsDistanceUnitSelected(itemsDistanceUnitSelected)"
          ></v-select>
        </div>
        <div class="speed-row">
          <v-text-field
            v-model="heure"
            :rules="timeRules"
            label="heures"
          ></v-text-field>
          <v-text-field
            v-model="minute"
            :rules="timeRules"
            label="minutes"
          ></v-text-field>
          <v-text-field
            v-model="seconde"
            :rules="timeRules"
            label="secondes"
          ></v-text-field>
          <v-text-field
            v-model="centseconde"
            :rules="timeRules"
            label="cent.secondes"
          ></v-text-field>
        </div>

        <div class="speed-row speed-result">
          <v-text-field
            v-model="speed"
            label="vitesse"
            disabled
          ></v-text-field>
          <v-select
            :items="itemsSpeedUnit"
            v-model="itemsSpeedUnitSelected"
            item-text="name"
            return-object
            filled
            label="Unité"
            v-on:change="handleItemsSpeedUnitSelected(itemsSpeedUnitSelected)"
            dense
          ></v-select>
        </div>

        <div class="speed-results-details">
          <div>
            <v-btn
              style="margin-top: 15px;margin-bottom: 15px;"
              @click="handleCalcul"
            >
              <v-icon color="#8cb0d1">
                mdi-run-fast
              </v-icon>
              CALCULER
            </v-btn>
          </div>

          <div v-if="speed && speed > 0">
            <div>
              vitesse:
              <span class="details"
                >{{speed}} {{itemsSpeedUnitSelected.name}}</span
              >
            </div>
            <div>allure: <span class="details">{{paceSelected}}</span></div>
            <div>
              performance {{extrapole}} FFA Homme:
              <span class="details">{{perfFFAHSelected}}</span>
            </div>
            <div>
              performance {{extrapole}} FFA Femme:
              <span class="details">{{perfFFAFSelected}}</span>
            </div>
          </div>
        </div>

        <div v-if="extrapole=='extrapolée'">
          <small>* distance non officielle</small>
        </div>
      </v-form>
    </v-container>

    <div v-if="speed && speed >0">
      <div id="pace" class="block_pace">
        <div class="pace" style="background-color:#c4c9d1;">
          <div class="sub_pace">
            <div>100 m</div>
            <div>{{distanceToTime(0.1)}}</div>
          </div>

          <div class="sub_pace">
            <div>200 m</div>
            <div>{{distanceToTime(0.2)}}</div>
          </div>

          <div class="sub_pace">
            <div>400 m</div>
            <div>{{distanceToTime(0.4)}}</div>
          </div>
          <div class="sub_pace">
            <div>800 m</div>
            <div>{{distanceToTime(0.8)}}</div>
          </div>
        </div>

        <div class="pace" style="background-color:#b0b7c1;">
          <div class="sub_pace">
            <div>1 km</div>
            <div>{{distanceToTime(1)}}</div>
          </div>

          <div class="sub_pace">
            <div>1.5 km</div>
            <div>{{distanceToTime(1.5)}}</div>
          </div>

          <div class="sub_pace">
            <div>3 km</div>
            <div>{{distanceToTime(3)}}</div>
          </div>
          <div class="sub_pace">
            <div>5 km</div>
            <div>{{distanceToTime(5)}}</div>
          </div>
        </div>

        <div class="pace" style="background-color:#9da5b2;">
          <div class="sub_pace">
            <div>10 km</div>
            <div>{{distanceToTime(10)}}</div>
          </div>

          <div class="sub_pace">
            <div>semi-marathon</div>
            <div>{{distanceToTime(21.1)}}</div>
          </div>

          <div class="sub_pace">
            <div>marathon</div>
            <div>{{distanceToTime(42.2)}}</div>
          </div>
          <div class="sub_pace">
            <div>100 km</div>
            <div>{{distanceToTime(100)}}</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="speed-results">
      <div>Dernière courses à pied</div>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">
                Date
              </th>
              <th class="text-left">
                Course à pied
              </th>
              <th class="text-left">
                Vitesse
              </th>
              <th class="text-left">
                Allure
              </th>
              <th class="text-left">
                Bareme FFA H
              </th>
              <th class="text-left">
                Bareme FFA F
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in lastSpeedCalc" :key="item.id">
              <td>{{ formatDate(item.date) }}</td>
              <td>{{ item.distance }}</td>
              <td>{{ item.speed }}</td>
              <td>{{ item.pace }}</td>
              <td>{{ item.performanceFFAH }}</td>
              <td>{{ item.performanceFFAF }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
  </div>
</div>
