<style lang="scss" src="./Speed.scss"></style>
<template src="./Speed.html"></template>

<script>
import { bareme, unitDistance, unitSpeed } from "./unit.js";
import { gecFormat } from "./../../utils/shortDate.js";
import { secondsToHms, secondsToTime , convertIntoPace, distanceToTime, convertPaceIntoSeconds } from "./../../utils/speedUtils.js";

export default {
  props: {
    user: {},
    baremeffaF: {},
    baremeffaH: {},
  },
  
  components: {},
  mounted() {},
  data() {
    return {
      dialog: false,
      notifications: false,
      sound: true,
      validSpeed: false,
      distance: "",
      speed: "",
      heure: "",
      minute: "",
      seconde: "",
      centseconde: "",
      time: "",
      paceSelected: "",
      perfFFAHSelected: "",
      perfFFAFSelected: "",
      extrapole: "",
      tpspassage: "",
      itemsSpeedUnitSelected: unitSpeed[0],
      itemsDistanceUnitSelected: unitDistance[0],
      lastSpeedCalc: [],
      timeRules: [
        (t) => !isNaN(new Number(t)) || "écrit un nombre entier",
        (t) => (t && t.includes(".") === false) || "écrit un nombre entier",
      ],
      distanceRules: [
        (v) => (!!v && v != 0) || "la distance doit > 0",
        (v) => !isNaN(new Number(v)) || "écrit un nombre",
      ],
      itemsSpeedUnit: unitSpeed,
      itemsDistanceUnit: unitDistance,
    };
  },

  async fetch() {
    this.lastSpeedCalc = await this.$dataApi
      .getLastSpeedCalc()
      .then((res) => res.json);
  },
  methods: {
    async postResultSpeed(resultToPost) {
      const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(resultToPost),
      };
      await this.$dataApi
        .postLastSpeedCalc(requestOptions)
        .then((res) => this.lastSpeedCalc.push(res.json))
    },

    handleItemsDistanceUnitSelected(item) {
      this.itemsDistanceUnitSelected = item;
      this.handleCalcul();
    },
    handleItemsSpeedUnitSelected(item) {
      this.itemsSpeedUnitSelected = item;
      this.handleCalcul();
    },
    distanceToTime(d) {
      return distanceToTime(d, this.paceSelected);
    },
    formatDate(d) {
      return gecFormat(new Date(d));
    },
    perfFFA: function(sexe, distance, time) {
      let jsonbaremeffa = this.baremeffaH;
      if (sexe == "F") {
        jsonbaremeffa = this.baremeffaF;
      }

      if (this.isDistanceOfficielle(distance)) {
        this.extrapole = "";

        for (var i = 0; i < jsonbaremeffa.length; i++) {
          if (
            i < jsonbaremeffa.length - 1 &&
            distance == parseFloat(jsonbaremeffa[i].distance) &&
            time <= jsonbaremeffa[i + 1].time &&
            time > jsonbaremeffa[i].time
          ) {
            const perfFFA =
              jsonbaremeffa[i + 1].libelle +
              " " +
              jsonbaremeffa[i + 1].points +
              " points";
            return perfFFA;
          } else if (
            i < jsonbaremeffa.length - 1 &&
            distance == parseFloat(jsonbaremeffa[i].distance) &&
            time <= jsonbaremeffa[i + 1].time &&
            time == jsonbaremeffa[i].time
          ) {
            const perfFFA =
              jsonbaremeffa[i].libelle +
              " " +
              jsonbaremeffa[i].points +
              " points";
            return perfFFA;
          }
        }
      } else {
        this.extrapole = "extrapolée";

        for (var i = 0; i < jsonbaremeffa.length; i++) {
          if (i > 0) {
            if (
              distance > parseFloat(jsonbaremeffa[i - 1].distance) &&
              distance < parseFloat(jsonbaremeffa[i].distance)
            ) {
              for (var j = i + 1; j < i + 27; j++) {
                const coefD = jsonbaremeffa[j].distance / distance;
                const timeInterpol = time * coefD;
                if (
                  timeInterpol <= jsonbaremeffa[j].time &&
                  timeInterpol > jsonbaremeffa[j - 1].time
                ) {
                  const perfFFA =
                    jsonbaremeffa[j].libelle +
                    " " +
                    jsonbaremeffa[j].points +
                    " points";
                  return perfFFA;
                } else if (
                  timeInterpol <= jsonbaremeffa[j].time &&
                  timeInterpol == jsonbaremeffa[j - 1].time
                ) {
                  const perfFFA =
                    jsonbaremeffa[j - 1].libelle +
                    " " +
                    jsonbaremeffa[j - 1].points +
                    " points";
                  return perfFFA;
                }
              }
            }
          }
        }
      }
    },
    isDistanceOfficielle: function(distance) {
      var flag = false;
      distance = distance * this.itemsDistanceUnitSelected.coef;
      for (var i = 0; i < this.baremeffaH.length; i++) {
        if (distance == parseFloat(this.baremeffaH[i].distance)) {
          flag = true;
          break;
        }
      }
      return flag;
    },

    handleCalcul: function() {
      const timeInCentSeconds =
        this.heure * 360000 +
        this.minute * 6000 +
        this.seconde * 100 +
        this.centseconde;
      this.time = timeInCentSeconds;
      let speed = 0;

      const condDkm = this.itemsDistanceUnitSelected.name == "km";
      const condVkmh = this.itemsSpeedUnitSelected.name == "km/h";
      const condDm = this.itemsDistanceUnitSelected.name == "m";
      const condVms = this.itemsSpeedUnitSelected.name == "m/s";
      const condDmiles = this.itemsDistanceUnitSelected.name == "miles";
      const condVmilesh = this.itemsSpeedUnitSelected.name == "miles/h";

      // si speed demandée en km/h
      if (this.itemsSpeedUnitSelected.name == "km/h") {
        speed =
          (this.distance * this.itemsDistanceUnitSelected.coef) /
          (this.time * this.itemsSpeedUnitSelected.coef);
      }

      // si speed demandée en m/s
      if (this.itemsSpeedUnitSelected.name == "m/s") {
        speed =
          (this.distance * this.itemsDistanceUnitSelected.coef) /
          (this.time * this.itemsSpeedUnitSelected.coef * 3.6);
      }

      // si speed demandée en "miles/h"
      if (this.itemsSpeedUnitSelected.name == "miles/h") {
        speed =
          (this.distance * this.itemsDistanceUnitSelected.coef) /
          (this.time * this.itemsSpeedUnitSelected.coef * 1.60934);
      }
      // approx
      this.speed = Math.round(speed * 100) / 100;
      // condition pour eviter d'afficher du NaN ou Infinity et de calculer pour rien le reste
      if (
        (this.distance == "" && isNaN(this.speed)) ||
        this.speed == Infinity ||
        this.time == 0
      ) {
        this.speed = "";
      } else {
        // paces
        let coefPace = 1;
        if (this.itemsSpeedUnitSelected.name == "m/s") {
          coefPace = coefPace = 3.6;
        }
        if (this.itemsSpeedUnitSelected.name == "miles/h") {
          coefPace = coefPace = 1.60934;
        }
        this.paceSelected = convertIntoPace(this.speed * coefPace);
        //perfFFA
        this.perfFFAHSelected = this.perfFFA(
          "H",
          this.distance * this.itemsDistanceUnitSelected.coef,
          this.time
        );
        this.perfFFAFSelected = this.perfFFA(
          "F",
          this.distance * this.itemsDistanceUnitSelected.coef,
          this.time
        );

        this.postResultSpeed({
          date: new Date(),
          distance: this.distance + " " + this.itemsDistanceUnitSelected.name,
          speed: this.speed + " " + this.itemsSpeedUnitSelected.name,
          pace: this.paceSelected,
          performanceFFAH: this.perfFFAHSelected,
          performanceFFAF: this.perfFFAFSelected,
        });
      }
    },
  },
};
</script>
