.parent-footer {
  margin-top:150px;
  background-color: #000000;
  color:#05a3af;
  opacity: 0.9;
  padding:25px;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    margin-left:10px;
  }
}