  <footer class="parent-footer">
    <div>
      © CAPOUT 2021
    </div>
    <div>
     -
    </div>
    <div>
      <a href="/contact">contact</a>
    </div>
    <div>
      -
     </div>
    <div>
      <a href="/mentions-legales">mentions legales</a>
    </div>
    <div>
      -
     </div>
    <div>
      <a href="/conditions-generales">conditions générales d'utilisation du site CAPOUT.FR</a>
    </div>
    <div>
      

    </div>
  </footer>
