<style lang="scss" src="./Footer.scss"></style>
<template src="./Footer.html"></template>

<script>

export default {
  props: {
  },
  mounted() {
    if (this.$route.query.result == "success") {
      alert("Success!");
    }
  },
  methods: {   
  },
  data() {
    return {
    };
  },
};
</script>
