<div  id="allure" class="block_allure">
   <div class="titre_allure">A {{vm.vitesse}} {{vm.setUniteVitesse.nom}}, l'allure de course est de {{vmp.allure.get("min")}} au kilomètre </div>


 <ul class="allure" style="background-color:#c4c9d1;">

<ul class="sous_allure">
  <li>100 m</li>
  <li>{{vmp.allure.get("100m")}}</li>
  </ul>

  <ul class="sous_allure">
  <li>200 m</li>
   <li>{{vmp.allure.get("200m")}}</li>
   </ul>

     <ul class="sous_allure">
  <li>400 m</li>
  <li>{{vmp.allure.get("400m")}}</li>
  </ul>
    <ul class="sous_allure">
  <li>800 m</li>
  <li>{{vmp.allure.get("800m")}}</li>
</ul>

 </ul>

 <ul class="allure" style="background-color:#b0b7c1;">

<ul class="sous_allure">
  <li>1 km</li>
  <li>{{vmp.allure.get("1km")}}</li>
  </ul>

  <ul class="sous_allure">
  <li>1.5 km</li>
   <li>{{vmp.allure.get("1.5km")}}</li>
   </ul>

     <ul class="sous_allure">
  <li>3 km</li>
  <li>{{vmp.allure.get("3km")}}</li>
  </ul>
    <ul class="sous_allure">
  <li>5 km</li>
  <li>{{vmp.allure.get("5km")}}</li>
</ul>

 </ul>

 <ul class="allure" style="background-color:#9da5b2;">

<ul class="sous_allure" >
  <li>10 km</li>
  <li>{{vmp.allure.get("10km")}}</li>
  </ul>

  <ul class="sous_allure">
  <li>semi-marathon</li>
   <li>{{vmp.allure.get("semi")}}</li>
   </ul>

     <ul class="sous_allure">
  <li>marathon</li>
  <li>{{vmp.allure.get("marathon")}}</li>
  </ul>
    <ul class="sous_allure">
  <li>100 km</li>
  <li>{{vmp.allure.get("100km")}}</li>
</ul>

 </ul>


  </div>