
 <div id="graph2" class="block_graph_simple">
   
 <ul class="graph1">
<li>  <canvas  ng-model="vmp.chart2" style="background-color:#e4efff;" class="chart chart-line" chart-data="vmp.dataGraph2" chart-labels="vmp.labelsGraph2" chart-series="vmp.seriesGraph2" chart-options="vmp.optionsGraph2" chart-dataset-override="vmp.datasetOverrideGraph2" chart-colors="vmp.colorsGraph2" chart-click="vmp.actionGraph2" ng-bind="vmp.infoGraph2"> </canvas>

</li>


</ul>

<ul class=graph_info>
<li> Afficher la courbe &nbsp;<select  class="InputAddOn-field" ng-model="vmp.setChoixBareme"   ng-options="ChoixBareme as ChoixBareme.nom for ChoixBareme in vmp.ObjetChoixBareme" ng-change="vmp.bindgraphService()">     
    </select>
</li>

<li>
  Ecart à la courbe : <font color="color:#ff6384"> {{vmp.ecartV}} </font>
</li>
</ul>
 <ul class="graph_info">
<ul class="sous_graph_info">
  <li>Distance</li>
  <li>{{vmp.info_distance}}</li>
  </ul>
  <ul class="sous_graph_info">
  <li>Temps</li>
   <li>{{vmp.info_performance}}</li>
  </ul>
   <ul class="sous_graph_info">
  <li>Nb points FFA</li>
   <li>{{vmp.info_points}}</li>

  
    </ul>



<div ng-model="vmp.legende" class="chart-legend"></div>
</div>