<div id="graph1" class="block_graph">
   
 <ul class="graph1">
<li>  <canvas  ng-model="vmp.chart" style="background-color:#e4efff;" class="chart chart-line" chart-data="vmp.data" chart-labels="vmp.labels" chart-series="vmp.series" chart-options="vmp.options" chart-dataset-override="vmp.datasetOverride" chart-colors="vmp.colors" chart-click="vmp.actionGraph1" ng-bind="vmp.info"> </canvas>

</li>
</ul>
<ul class="sous_graph1">
<li>
<font color="ff6384" size="2"> {{vmp.typedistance}} </font>
</li>
<li>
<input type="radio" name="genre" value="homme" checked ng-click="vmp.ChangerJson()" id="checkHomme"> Performance FFA Homme
<input type="radio" name="genre" value="femme" disabled ng-click="vmp.ChangerJson()" id="checkFemme"> Performance FFA Femme
</li>
</ul>


 <ul class="graph_info">
<ul class="sous_graph_info">
  <li>Distance</li>
  <li>{{vmp.info_distance}}</li>
  </ul>
  <ul class="sous_graph_info">
  <li>Temps</li>
   <li>{{vmp.info_performance}}</li>
  </ul>
   <ul class="sous_graph_info">
  <li>Nb points FFA</li>
   <li>{{vmp.info_points}}</li>
  </ul>
   <ul class="sous_graph_info">
  <li>Barême FFA</li>
   <li>{{vmp.info_libelle}}</li>
   </ul>
    </ul>

     <ul ng-show="vmp.showrecords" class="graph_info">
<ul class="sous_graph_info">
  <li>Record France</li>
  <li>{{vmp.info_athlete_RF}} le {{vmp.info_daterecord_RF}} en {{vmp.info_performance_RF}}</li>
  </ul>

  <ul class="sous_graph_info">
  <li>Record Mondial</li>
  <li>{{vmp.info_athlete_RM}} le {{vmp.info_daterecord_RM}} en {{vmp.info_performance_RM}}</li>
  </ul>
    </ul>

 </ul>

<div ng-model="vmp.legende" class="chart-legend"></div>
<div class="wrapper_graph">&nbsp;</div>
</div>