<!-- le message modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <p>Utilisez la <b>virgule</b> à la place du point, merci!</p>
  </div>

</div>