<div id="tpspassage" class="block_tpspassage">
  <div class="titre_allure">Temps de passage pour une distance de {{vm.distance}} {{vm.setUniteDistance.nom}} à {{vm.vitesse}} {{vm.setUniteVitesse.nom}}</div>
  


  <div class="sous_block_tpspassage">

  <ul class="tpspassage" style="background-color:#c4c9d1;">
  <ul class="sous_tpspassage">
    <li ng-repeat="tpspassage in vmp.tpspassages" ng-if="tpspassage.nb <=10">
     {{tpspassage.distance_passage}} - {{tpspassage.temps_passage}}
    </li> 
   
  
  </ul>
  </ul>
<ul class="tpspassage" style="background-color:#c4c9d1;">
   <ul class="sous_tpspassage">
    <li ng-repeat="tpspassage in vmp.tpspassages" ng-if="tpspassage.nb >10 && tpspassage.nb <=20">
     {{tpspassage.distance_passage}} - {{tpspassage.temps_passage}}
    </li>
    </ul>
    </ul>
    <ul class="tpspassage" style="background-color:#c4c9d1;">
   <ul class="sous_tpspassage">
    <li ng-repeat="tpspassage in vmp.tpspassages" ng-if="tpspassage.nb >20 && tpspassage.nb <=30">
     {{tpspassage.distance_passage}} - {{tpspassage.temps_passage}}
    </li>
    </ul>
    </ul>
    <ul class="tpspassage" style="background-color:#c4c9d1;">
   <ul class="sous_tpspassage">
    <li ng-repeat="tpspassage in vmp.tpspassages" ng-if="tpspassage.nb >30">
     {{tpspassage.distance_passage}} - {{tpspassage.temps_passage}}
    </li>
    </ul>
    </ul>
    </div>

  </div>
