
<div id="vitesse" class="vitessemoyenne">

<ul class="vdt">

<!-- <span> <img src="images/distance.png"  height="42" width="42"> </span> -->

<li class="distance-vitesse"> 
<div class="InputAddOn"> <div class="InputAddOn-item">Distance</div>
  <input ignore-mouse-wheel class="InputAddOn-field-distance" type="number" step="0.01" lang="en"   min="0.1"  class="InputAddOn-field" placeholder="ex: 42,2" ng-model="vm.distance"   > 
</div>
</li>

<li class="unite">
<div class="InputAddOn"> <div class="InputAddOn-item">Unité</div>
 <select  ng-model="vm.setUniteDistance"  class="InputAddOn-field" ng-options="unitedistance as unitedistance.nom for unitedistance in vm.Objetunitedistance" >     
    </select></div>
</li>

</ul>
<ul class="vdt">

  <!-- <span class="glyphicon glyphicon-time" aria-hidden="true"></span>  -->
  <!-- <span> <img src="images/temps.png"  height="42" width="42"> </span> -->

<li class="unite-temps">  <div class="InputAddOn"> <div class="InputAddOn-item">Heure</div> 
<input ignore-mouse-wheel type="number" step="1" lang="en" min="1"   class="InputAddOn-field"  ng-model="vm.heure" placeholder="ex: 2"/></div></li>
<li class="unite-temps">  <div class="InputAddOn"> <div class="InputAddOn-item">Min</div> 
<input ignore-mouse-wheel type="number"  step="1" lang="en" min="1"  class="InputAddOn-field"  ng-model="vm.minute" placeholder="ex: 2"/></div></li>
<li class="unite-temps">    <div class="InputAddOn"> <div class="InputAddOn-item">Sec</div> 
<input ignore-mouse-wheel type="number" step="1" lang="en" min="1"  class="InputAddOn-field"   ng-model="vm.seconde" placeholder="ex: 57"/></div></li>
<li class="unite-temps">    <div class="InputAddOn"> <div class="InputAddOn-item">Cent. sec</div> 
<input ignore-mouse-wheel type="number" step="1" lang="en" min="1"  class="InputAddOn-field"   ng-model="vm.centseconde" placeholder="ex : 88"/></div></li>


</ul>

<ul class="vdt" >

<li class="distance-vitesse">  <div class="InputAddOn"> <div class="InputAddOn-item"> Vitesse</div> 
<input  disabled class="InputAddOn-field-vitesse"  ng-bind="vm.vitesse" ng-model="vm.vitesse"/></div></li>

<li class="unite"><div class="InputAddOn"> <div class="InputAddOn-item">Unité</div>
 <select ng-model="vm.setUniteVitesse"  class="InputAddOn-field" ng-options="unitevitesse as unitevitesse.nom for unitevitesse in vm.Objetunitevitesse" > </select>
</div></li>

</ul>
<ul class="vdt" >
<button class="bouton_valider" ng-click="vm.VitesseMoyenne()">CALCULER</button>
</ul>


</div>
<!-- le message modal (plus utilisée)-->
<div id="myModal" class="modal">

  <!-- Modal content (plus utilisée)-->
  <div class="modal-content">
    <span class="close">x</span>
    <p>Utilisez la <b>virgule</b> à la place du point, merci!</p>
  </div>

</div>