<template>
  <div class="app-search-results-page">
    <div class="app-search-results">
      <div class="app-search-results-listing">
        <h2 class="app-title">Stays in xxxx</h2>

        <nuxt-link
          v-for="user in users"
          :key="user.id"
          :to="`/user/${user.id}`"
        >
          <UserRow
            class="app-house"
            :user="user"
            @mouseover.native="highlightMarker(user.id, true)"
            @mouseout.native="highlightMarker(user.id, false)"
          />
        </nuxt-link>
      </div>
      <div class="app-search-results-map">
        <div class="app-map" ref="map"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: `Users around ${this.label}`,
    };
  },
  watchQuery: ['lat'],
  async beforeRouteUpdate(to, from, next) {
    const data = await this.$dataApi.getoUserByLocation(
      to.query.lat,
      to.query.lng
    );
    this.users = data.json.hits;
    this.label = to.query.label;
    this.lat = to.query.lat;
    this.lng = to.query.lng;
    this.updateMap();
    next();
  },
  async asyncData({ query, $dataApi }) {
    const data = await $dataApi.getoUserByLocation(query.lat, query.lng);
    return {
      users: data.json.hits,
      label: query.label,
      lat: query.lat,
      lng: query.lng,
    };
  },
  mounted() {
    this.updateMap();
  },
  methods: {
    updateMap() {
      this.$maps.showMap(
        this.$refs.map,
        this.lat,
        this.lng,
        this.getUserMarkers()
      );
    },
    getUserMarkers() {
      if (this.users.length === 0) return null;
      return this.users.map((user) => {
        return {
          ...user._geoloc,
          pricePerNight: user.pricePerNight,
          id: user.id,
        };
      });
    },
    highlightMarker(userId, isHighlighted) {
      document
        .getElementsByClassName(`user-${userId}`)[0]
        ?.classList?.toggle('marker-highlight', isHighlighted);
    },
  },
};
</script>
<style lang="css">
.marker {
  background-color: white;
  border: 1px solid lightgray;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 8px;
}
.marker-highlight {
  color: white !important;
  background-color: black;
  border-color: black;
}
</style>