<template>
  <div class="app-padded-vertical">
    <div class="app-wrapper">
      <h2 class="app-title">Users truck</h2>
      <div class="app-gallery">
        <nuxt-link
          :to="'/users/' + user.id"
          v-for="(user, index) in users"
          :key="index"
          class="app-gallery-item"
          :class="`city-${user.id}`"
        >
          <div>
            <h3>{{ user.location.city }}</h3>
            <p>{{ user.name }}</p>
          </div>
        </nuxt-link>
        {{ users }}
      </div>
    </div>
  </div>
</template>

<script>
import { apiRoot } from "~/utils/fetchUtils";

export default {
  
  data() {
    return {
      users: [],
    };
  },

};
</script>
