<template>
<div>  
 
  <div class="app-house-body">
    <h2>{{ user.name }}</h2>  
    <div class="app-address">
      {{ user.location.address }} {{ user.location.city }}  
    </div>
    <div class="app-amenities">
        
    </div>
   
  </div>
</div>

</template>
<script>
import pluralize from '~/utils/pluralize'

 export default {
    props:{
        user: {
            type: Object,
            required: true
        }
    },
    computed:{
        features(){
            return this.user.features.slice(0, 3).join(', ')
        }
    },
    methods: {
        pluralize,        
    }
}
</script>