/*ecran moyen superieur à 800 px inferieur à 1200 */
@media screen and (min-width: 801px) and (max-width: 1200px)
{


header{
  background-color: #3b4b66;
  color:white;
  height: 46px;
  z-index: 9999;
  width:100%;
}


footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
}


ul.supernavigation{
  list-style:none;
   margin-left: 0; 
  display: flex; 
  flex-direction: row;
  padding: 0;  
}


ul.navigation-gauche{
  list-style:none;
  margin-left: 0; 
   display: flex; 
  flex-direction: row;  

}
ul.navigation-gauche li{
  list-style:none;
  margin-left: 50px;
  margin-top: 20px;
  font-size:10px;
 border-bottom-style: solid;
 border-width: 5px;
 border-color: transparent;

}
ul.navigation-droite{
  list-style:none;
  margin-left: 0;  
   display: flex; 
  flex-direction: row;  

}
ul.navigation-droite li{
  list-style:none;
  margin-left: 50px;
  margin-top: 20px;
  font-size:16px;
 border-bottom-style: solid;
 border-spacing: 5px;
 border-width: 5px;
 border-color: transparent;
}


ul.navigation-droite li:last-child a{
   margin-right: 50px;
}
ul.navigation-droite li a{
 text-decoration:none; 
 color:#cccccc;

}





ul.navigation-droite li:nth-child(1):focus a,
ul.navigation-droite li:nth-child(1):hover a { 
 border-bottom-style: solid;
 border-width: 5px;
 border-color: #626e84;
  }
ul.navigation-droite li:nth-child(2):focus a,
ul.navigation-droite li:nth-child(2):hover a { 
 border-bottom-style: solid;
 border-width: 5px;
 border-color: #626e84; }
 ul.navigation-droite li:nth-child(3):focus a,
ul.navigation-droite li:nth-child(3):hover a { 
 border-bottom-style: solid;
 border-width: 5px;
 border-color: #626e84; }

.active{
 border-bottom-style: solid;
 border-width: 5px;
 border-color: #626e84; }

.titre{

position: absolute;

  bottom: 0px;
  text-align: center;

   font-weight: bold; 

 /* background-color: white;
  mix-blend-mode: screen;
  opacity: 0.8;*/

color:#fff;
 

  

}
h1{
 text-align: center;
 margin-top: 0px;
 font-size: 24px;
}
h2{ 
  font-size: 20px;
}


.sous_header{

text-align: center;
background: transparent url("../images/vitesse-course-a-pied.jpg") no-repeat scroll center center / cover;
filter: brightness(90%);
opacity: 0.9;
filter: sepia(90%) blur(1px);
transition: 4s ease-in-out;
height:200px;
margin-bottom: 25px;
}
.sous_header:hover {
  filter: sepia(20%) blur(0px);
  opacity: 0.9;
}






  .block1 {
list-style:none;
display: flex;
align-items: center;   
justify-content: center;
flex-direction: row; 
padding:0px;
}
.block2 {
  list-style:none;
  display: flex;
  align-items: center;   
justify-content: center;
  flex-direction: column;
  padding:0px;

}

  

/*.block2:first-child > :last-child, .block2:last-child > :first-child {
  flex-grow: 2;
}*/


.vitessemoyenne{

background-color:#E4EFFF;
border:1px solid #9FC6FF;
border-radius:7px;
height: 195px;
width:350px;
margin:0px 50px 20px 0px; /*t r b l*/
padding:10px;

}
.block_allure{

background-color:#e4efff;
border:1px solid #9FC6FF;
border-radius:7px;
height: 330px;
padding:10px;
margin:134px 0 20px 0px; /*t r b l*/
opacity: 0.3;

}
.titre_allure {
color:#ff6384;
font-size: 16px;
/*margin-bottom: 50px;*/
}

.block_graph{

background-color:#e4efff;
border:1px solid #9FC6FF;
margin-bottom: 25px;
border-radius:7px;
width: 825px;
height: 700px;
opacity: 0.3;
}
.block_graph_simple{

background-color:#e4efff;
border:1px solid #9FC6FF;
border-radius:7px;
padding:15px;
width: 825px;
height: 520px;
opacity: 0.3;
}

.block_tpspassage{
margin:25px auto;
background-color:#e4efff;
border:1px solid #9FC6FF;
border-radius:7px;
width: 825px;
height: auto;
padding:10px;
font-size: 12px;
opacity: 0.3;

}
.sous_block_tpspassage{


display: flex;
align-items: top;   
justify-content: top;
flex-direction: row; 




}




ul.vdt{
  list-style:none;
  width: 100%;
  display: flex;
  flex-direction: row;  
  padding: 0px;
  margin:0 auto;

}
ul.vdt li{
  list-style:none;
  display: flex;
   
  flex-direction: column;  
  background-color:#DDE4E9;
  border-left-style: solid;
  border-color:#558ABB;
  border-left-width: 6px; 
  margin-left: 15px;
  margin-bottom : 20px;
  border-radius: 5px;
  font-size:16px;
}


ul.allure{
  border-left-width: 1px;
  border-radius: 5px;
  list-style:none;
  display: flex;  
  flex-direction: row; 
  margin-top: 25px;
  padding: 0px;
  margin:25px 10px 0px 10px;
}

ul.sous_allure{
  list-style:none;
  display: flex;
  flex-direction: column; 
  padding: 10px;
  margin:0 auto;
}

ul.sous_allure li:nth-child(1){
  font-size:18px;
}

ul.sous_allure li:nth-child(2){
  border-left-width: 1px;
  font-size:15px;
}




ul.tpspassage{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: row;
  border-radius:7px; 
  margin-top: 0;
  margin: 5px;
  padding: 5px;


}

ul.sous_tpspassage{
  list-style:none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;   
  flex-direction: column; 
  margin: 5px;
  padding: 5px;
  min-width: 100px;
  min-height: 180px;
}
ul.sous_tpspassage li:nth-child(1){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
/*  background-color:#DDE4E9;*/
  border-left-width: 1px;
  width: 100%;

  border-radius: 5px;
  font-weight:bold;
}

ul.sous_tpspassage li:nth-child(5n){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
/*  background-color:#DDE4E9;*/
  border-left-width: 1px;
  width: 100%;

  border-radius: 5px;
  font-weight:bold;
}
ul.sous_tpspassage li:last-child{
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
/*  background-color:#DDE4E9;*/
  border-left-width: 1px;
  width: 100%;

  border-radius: 5px;
  font-weight:bold;
  color:"#ff6384";
}




ul.sous_tpspassage_resultat{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: row; 
}


ul.graph1{
  list-style:none;
  width: 100%;
  display: flex;
  padding:20px;
  flex-direction: column;  
}
ul.graph1 li {
  list-style:none;
  display: flex;
  flex-direction: column;  
  border-radius: 5px;
  font-size:15px;
}
ul.sous_graph1{
  list-style:none;

}
ul.sous_graph1 li {
  list-style:none;
  font-size:15px;
}
ul.graph_info{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: row;
  border-radius:7px; 
  margin-top: 25px;


}
ul.graph_info li{
  list-style:none;
  display: flex;
  align-items: left;   
  flex-direction: row;  
  width: 100%;
 
}
ul.sous_graph_info{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: column; 
  padding:0;
}

ul.sous_graph_info li:nth-child(1){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
/*  background-color:#DDE4E9;*/
  border-left-width: 1px;

  border-radius: 5px;
  font-size:18px;
}
ul.sous_graph_info li:nth-child(2){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  

  border-left-width: 1px;

 
  font-size:16px;
}

.InputAddOn {
  display: flex;
  flex-direction: column;  
}

.InputAddOn-field {
  flex: 1;
  max-width: 75px;
  width:100%;
  min-width:10px;
}
.InputAddOn-field-vitesse {
  flex: 1;
  max-width: 75px;
  width:100%;
  min-width:10px;
  background-color: #ffeff2;
  color:#ff6384;
  font-size:20px;
}
.InputAddOn-field-distance {
  flex: 1;
  max-width: 75px;
  width:100%;
  min-width:10px;
}
.InputAddOn-field,.InputAddOn-field-vitesse:not(:first-child) {
  border-left: 0;
}
.InputAddOn-field,.InputAddOn-field-vitesse:not(:last-child) {
  border-right: 0;
}

.InputAddOn-item {
  background-color: rgba(147, 128, 108, 0.1);
  color: #666666;
  font: inherit;
 /* font-weight: normal;*/
 font-size:11px;
  cursor: auto;
  width:100%;
  min-width:0px;
  max-height: 15px;
}

.InputAddOn-field,
.InputAddOn-item,.InputAddOn-field-vitesse {
  border: 1px solid rgba(147, 128, 108, 0.25);

}
.InputAddOn-field,.InputAddOn-field-vitesse:first-child,
.InputAddOn-item:first-child {
  border-radius: 2px 0 0 2px;
}
.InputAddOn-field,.InputAddOn-field-vitesse:last-child,
.InputAddOn-item:last-child {
  border-radius: 0 2px 2px 0;
}
ul.footerliste{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: row; 
  margin-top: 25px;
  justify-content:space-between;

}

ul.footerliste li{
   list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
  margin-top: 10px;
  color: #cccccc;
   font-size:14px;



  }


}