<h1>Vitesse et performance en course à pied</h1>
<h2 style="font-size: 12px">Renseignez la distance parcourue et le temps effectué. L'application en déduira la vitesse moyenne, et la performance associée</h2>
<div ng-controller="vitesseCtrl as vm" > 

<div class="block1">
  <ul class="block2">
    <li><routage  id="directive_vitesse" template-url="vitesse"></routage></li>    
    <li><routage  id="directive_allure" ng-controller="allureCtrl as vmp"  template-url="allure"></routage></li>
    <li><routage  id="directive_performance" ng-controller="graph2Ctrl as vmp"  template-url="graph2"></routage></li>

  </ul>
    <ul class="block3">  
    <li><routage  id="directive_performance" ng-controller="graph1Ctrl as vmp"  template-url="graph1"></routage></li>
    <li><routage  id="directive_tpspassage"  ng-controller="tpspassageCtrl as vmp"  template-url="tps-passage"></routage></li>
  </ul>
 
</div>
 

</div>