<template>
  <div class="app-TruckDetail">
    <TruckDetail :user="user" v-bind:users="users" :key="user.id"   />
    <script type="application/ld+json" v-html="getSchema"></script>
  </div>
</template>

<script>
export default {
    computed:{
        getSchema(){
          //todo
            return JSON.stringify({
                "@context": "http://schema.org",
                "@type": "BedAndBreakfast",
                "name": this.user.title,
                "image":this.$img(this.user.images[0], {width:1200}, { provider: 'cloudinary'}),
                "address":{
                    "@type": "PostalAddress",
                    "addressLocality": this.user.location.city,
                    "addressRegion": this.user.location.state,
                    "postalCode": this.user.location.zipcode,
                    "streetAddress": this.user.location.address,
                },
                "aggregateRating":{
                    "@type": "AggregateRating",
                    "ratingValue": this.user.reviewValue,
                    "reviewCount": this.user.reviewCount,
                }
            })
        }
    },
    head(){
        return {
            title: this.user.title,    
            meta:[
                { hid: 'og-type', property: 'og:type', content: 'website'},
                { hid: 'og-title', property: 'og:title', content: this.user.title },
                { hid: 'og-desc', property: 'og:description', content: this.user.description },
                { hid: 'og-image', property: 'og:image', 
                  content: this.$img(this.user.images[0], {width:1200}, { provider: 'cloudinary'})},
                { hid: 'og-url', property: 'og:url', content: `${this.$config.rootUrl}/user/${this.user.objectID}`},
                { hid: 't-type', name: 'twitter:card', content: 'summary_large_image' }
            ]               
        }
    },   
  async asyncData({ $dataApi, error, params, query }) {
    const response = await $dataApi.getUsers(query);
    if (!response.ok) {
      return error({
        statusCode: response.status,
        message: response.statusText,
      });
    }
    return {
      users: response.json.results.filter(user => user.id == parseInt(params.id)),
      user: response.json.results.filter(user => user.id == parseInt(params.id))[0]
    };
  },
}
</script>
