<div class="page-error">
  <div class="error-block">
    Une erreur technique est survenue.
  </div>
  <div class="error-block">
    Désolé pour la gène occasionnée.
  </div>
  <div class="error-block">
    Vous pouvez essayer de revenir à <a href="/">l'accueil</a>.
  </div>
</div>
