/*ecran petit inferieur à 480 px  */
@media screen and (max-width: 480px)

{
 .titre-dernierecap{
      margin-top:50px;
      font-size: 12px;
  }

header{
  background-color: #3b4b66;
  color:white;
  height: 37px;
  z-index: 9999;
  width:100%;
}
.vitessemoyenne{
max-width:300px;
background-color:#E4EFFF;
border:1px solid #9FC6FF;
border-radius:7px;
width: 100%;
display: flex;
align-items: center;   
justify-content: center;
flex-direction: column; 
padding:5px;
margin-top:20px;
margin-bottom:20px;
}
.block_graph{
max-width:300px;
background-color:#e4efff;
border:1px solid #9FC6FF;
border-radius:7px;
display: flex;
align-items: center;   
justify-content: center;
flex-direction: column; 
padding:2px;
margin-bottom:20px;
opacity: 0.3;
}


  .block1 {
list-style:none;
display: flex;
align-items: center;   
justify-content: center;
flex-direction: column; 
padding:5px;
margin:0;
}
.block2 {
  list-style:none;
  display: flex;
  align-items: center;   
  justify-content: center;
  flex-direction: column;
  padding:5px;
  margin:0;
}


.block_tpspassage{

background-color:#e4efff;
border:1px solid #9FC6FF;
border-radius:7px;
display: flex;
align-items: center;   
justify-content: center;
flex-direction: column; 
width:300px;
font-size: 12px;
margin-bottom:20px;
opacity: 0.3;

}
.sous_block_tpspassage{
display: flex;
align-items: top;   
justify-content: top;
flex-direction: column; 
}

.block_allure{

background-color:#e4efff;
border:1px solid #9FC6FF;
border-radius:7px;
display: flex;
align-items: center;   
justify-content: center;
flex-direction: column; 
padding:5px;
width:300px;
margin-bottom:20px;
opacity: 0.3;

}
.titre_allure {
color:#ff6384;
font-size: 10px;
margin-bottom: 20px;
}

.bouton_valider{
  background-color:#fff;
  color:#000;
  border:2px solid #558abb;
  border-radius:5px;
  padding:15px;
  margin:15px;
  }
.bouton_valider,.bouton_valider:hover{
  margin-left:15px;
  margin-bottom:20px;
  font-size:16px;
  max-width:175px;
  width:100%;
  min-width:10px;
  }
.bouton_valider:hover{
  background-color:#8cb0d1;
  color:#fff;
  border-radius:5px;
  transition-duration:.4s;
  cursor:pointer;
  }
ul.supernavigation{
  list-style:none;
  display: flex;
  margin-left: 0; 
  flex-direction: row;  
  padding: 0;
}
ul.navigation-droite{
  list-style:none;
  display: flex;
   padding: 0;
  flex-direction: row;  
}
ul.navigation-gauche{
  padding: 0;
}
ul.navigation-gauche li{
  list-style:none;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 5px;
  font-size:10px;
 border-bottom-style: solid;
 border-width: 5px;
 border-color: transparent;

}
ul.navigation-droite li{
  list-style:none;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 20px;
  font-size:8px;
 border-bottom-style: solid;
 border-width: 5px;
 border-color: transparent;

}


ul.navigation-droite li:last-child a{
   margin-right: 50px;
}
ul.navigation-droite li a{
 text-decoration:none; 

}
ul.navigation-droite li a, 
ul.navigation-droite li a{
color:#ffffff;
} 

ul.navigation-droite li a:hover, 
ul.navigation-droite li a:focus{
 border-bottom-style: solid;
 border-width: 5px;
 border-color: #626e84;
} 
#nav_allure{
  opacity: 0.2;
  cursor: not-allowed;
}
#nav_tpspassage{
  opacity: 0.2;
  cursor: not-allowed;
}
#nav_graph1{
  opacity: 0.2;
  cursor: not-allowed;
}

h1{ 
  margin-left: 10px;
  font-size: 13px;
  text-align: center;
  margin-top: 0px;
  color: #626e84;
}

h2{ 
  font-size: 12px;
  color: #ccc;
}



ul.vdt{
  list-style:none;
  padding: 0;
  display: flex;
  align-items: left;
  justify-content: left;    
  flex-direction: row; 
  /*important : */
  width: 290px;
}

ul.vdt li.unite{
  list-style:none;
  display: flex;
  flex-direction: row;  
  background-color:#DDE4E9;
  border-left-style: solid;
  border-color:#558ABB;
  border-left-width: 6px;
  margin-left: 3px;
  margin-top: 5px;
  border-radius: 5px;
  font-size:16px;
  /*important : */
  width:70px;
}

ul.vdt li.unite-temps{
  list-style:none;
  display: flex;
  flex-direction: row;  
  background-color:#DDE4E9;
  border-left-style: solid;
  border-color:#558ABB;
  border-left-width: 6px;
  margin-left: 3px;
  margin-top: 5px;
  border-radius: 5px;
  font-size:16px;
  /*important : */
  width:70px;
}
ul.vdt li.distance-vitesse{
  list-style:none;
  display: flex;
  flex-direction: row;  
  background-color:#DDE4E9;
  border-left-style: solid;
  border-color:#558ABB;
  border-left-width: 6px;
  width:217px;
  margin-left: 3px;
  margin-top: 5px;
  border-radius: 5px;
  font-size:16px;
}

ul.allure{
  list-style:none;
  width: 98%;
  display: flex;
  align-items: left;   
  flex-direction: column; 
  margin: 20%;
  margin-top: 25px;
  padding: 0;
}


ul.sous_allure{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: row; 
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}

ul.sous_allure li:nth-child(1){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
  width: 100%;
  font-size:13px;
}
ul.sous_allure li:nth-child(2){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
  width: 100%;
 
  font-size:10px;
}
ul.sous_allure_resultat{
  font-size:10px;
}

ul.graph1{
  list-style:none;
  display: flex;
  padding:5px;
  margin:0;
  
}
ul.graph1 li {
  list-style:none;
  display: flex;
  font-size:10px;
  max-width: 295px;
}
ul.sous_graph1{
  list-style:none;
  padding: 0;
}

ul.sous_graph1 li {
  list-style:none;
  font-size:10px;
  padding: 0;
}
ul.graph_info{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: row;
  border-radius:7px; 
  margin-top: 25px;
  padding: 0;


}
ul.graph_info li{
  list-style:none;
  display: flex;
  align-items: left;   
  flex-direction: row;  
  width: 100%;
 
}
ul.sous_graph_info{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: column; 
  padding:0;
}

ul.sous_graph_info li:nth-child(1){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
/*  background-color:#DDE4E9;*/
  border-left-width: 1px;

  border-radius: 5px;
  font-size:10px;
}
ul.sous_graph_info li:nth-child(2){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  

  border-left-width: 1px;

 
  font-size:8px;
}






 .InputAddOn-field {
  flex: 1;
  width: 100%;
  
}

.InputAddOn {
  display: flex;
  flex-direction: column;  
}


.InputAddOn-field:not(:first-child) {
  border-left: 0;
}
.InputAddOn-field:not(:last-child) {
  border-right: 0;
}

.InputAddOn-item {
  background-color: rgba(147, 128, 108, 0.1);
  color: #666666;
  font: inherit;
 /* font-weight: normal;*/
  font-size:11px;
  cursor: auto;
  width:100%;
  min-width:20px;
  max-height: 20px;
}
.InputAddOn-field-distance {
  flex: 1;
  width: 100%;
  font-size:20px;
}
.InputAddOn-field-vitesse {
  flex: 1;
  width: 100%;
  background-color: #ffeff2;
  color:#ff6384;
  font-size:20px;
}


.InputAddOn-field {
  min-height: 35px;
  max-height: 35px;
  border: 1px solid rgba(147, 128, 108, 0.25);
}

.InputAddOn-item {
 
  border: 1px solid rgba(147, 128, 108, 0.25);
}
.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
  border-radius: 2px 0 0 2px;
}
.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
  border-radius: 0 2px 2px 0;
}





ul.tpspassage{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: row;
  border-radius:7px; 
  margin-top: 0;
  margin: 5px;
  padding: 5px;
  width:250px

}

ul.sous_tpspassage{
  list-style:none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;   
  flex-direction: column; 
  margin: 5px;
  padding: 5px;
  min-height: 180px;
}
ul.sous_tpspassage li:nth-child(1){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
/*  background-color:#DDE4E9;*/
  border-left-width: 1px;
  width: 100%;

  border-radius: 5px;
  font-weight:bold;
}

ul.sous_tpspassage li:nth-child(5n){
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
/*  background-color:#DDE4E9;*/
  border-left-width: 1px;
  width: 100%;

  border-radius: 5px;
  font-weight:bold;
}
ul.sous_tpspassage li:last-child{
  list-style:none;
  display: flex;
  align-items: center;   
  flex-direction: row;  
/*  background-color:#DDE4E9;*/
  border-left-width: 1px;
  width: 100%;

  border-radius: 5px;
  font-weight:bold;
  color:"#ff6384";
}








ul.footerliste{
  list-style:none;
  width: 100%;
  display: flex;
  align-items: left;   
  flex-direction: row; 
  margin-top: 25px;
  justify-content:space-between;

}

ul.footerliste li{
  list-style:none;
  margin-top: 10px;
  color: #cccccc;
  font-size: 8px;

  }
footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer a {
  color: #888;
}
.footer p {
  font-size: 8px;
}
}