 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid red;
    width: 250px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}



 ::-moz-placeholder { 
 opacity: 0.2;
 }


* {box-sizing: border-box;}

html, body {
    height: 100%;
    margin: 0; padding: 0;
    bottom: 0;
}
body {
    display : table;
    width: 100%;
}
.index_tab_titre{
margin-top: 50px;
border-style: solid;
width: 100%;

}

h2.hr {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #AAA;
  line-height: 0;
  margin: 60px 0 30px;
  font-size: 16px;
  cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
span.hr {
  background-color: white;
  padding: 0 10px;
  font-family: 'Roboto Condensed';
  color: #999;
}

.glyphicon {
    font-size: 50px;
}


h2{
   width: 100%;
  text-align: center;
 
}


.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.p_index{
  font-style: italic;
  margin-top:25px;
  margin-bottom: 25px;
}

.bouton_valider{
  background-color:#fff;
  color:#000;
  border:2px solid #558abb;
  border-radius:5px;
  padding:15px;
  margin:15px;
  }
.bouton_valider,.bouton_valider:hover{
  margin-left:15px;
  margin-bottom:20px;
  font-size:16px;
  max-width:175px;
  width:100%;
  min-width:10px;
  }
.bouton_valider:hover{
  background-color:#8cb0d1;
  color:#fff;
  border-radius:5px;
  transition-duration:.4s;
  cursor:pointer;
  }
  .titre-dernierecap{
      margin-top:100px;
  }