.parent-list-truck {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.list-truck-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.list-truck-title {
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  color: rgb(93, 179, 225);
  color: rgb(103, 162, 194);
  color: rgb(69, 135, 170);
  color: rgb(50, 109, 141);
color:rgb(242, 194, 106);
color:rgb(204, 160, 78);
color:rgb(225, 151, 14);
color:rgb(177, 118, 10);





}
.list-truck-gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 5px;
}
.list-truck-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 5px;
  color: rgb(23, 36, 36);
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  img {
    border-radius: 10px;
    width: 120px;
  }
}
.list-truck-item-name {
  color: #05a3af;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}
.list-truck-item-city {
  text-transform: uppercase;
}

.user {
  background-color: white;
  border: 1px solid lightgray;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 8px;
}
.user-highlight {
  color: white !important;
  background-color: #00b2bf;
  border-color: black;
}
