<style lang="scss" src="./TruckList.scss"></style>
<template src="./TruckList.html"></template>
<script>
export default {
  props: {
    users: {
    type: Array,
    required: true
  },
    nbTotalResults: 0,
    currentPage: 0,
    baseUrl: "",
  },
  mounted() {
    //this.updateMap();
  },
  methods: {
    highlightMarker(users, userId, index, isHighlighted) {
      if (isHighlighted) {
        users[index].markerColor = "orange";
      } else {
        users[index].markerColor = "blue";
      }
      document
        .getElementsByClassName(`marker-user-${userId}`)[0]
        ?.classList?.toggle("marker-highlight", isHighlighted);
      document
        .getElementsByClassName(`list-truck-item-${userId}`)[0]
        ?.classList?.toggle("user-highlight", isHighlighted);
    },
    updateMap() {
      this.$maps.showMap(
        this.$refs.map,
        this.lat,
        this.lng,
        this.getUserMarkers()
      );
    },
    getUserMarkers() {
      if (this.users.length == 0) return null;

      return this.users.map((user) => {
        return {
          ...user.location.coordinates,
          id: user.id,
        };
      });
    },
  },
};
</script>
