<div class="parent-list-truck">
  <div class="list-truck-wrapper">
    <h2 class="list-truck-title">Les Foods Trucks !</h2>

    <div class="list-truck-gallery">
      <nuxt-link
        :to="'/detail/' + user.id"
        v-for="(user, index) in users"
        :key="user.id"     
        @mouseover.native="highlightMarker(users, user.id, index, true)"
        @mouseout.native="highlightMarker(users, user.id, index, false)"
      >
        <div class="list-truck-item"   :class="`list-truck-item-${user.id}`">
          
          <img v-if="user.foodTruckImage!=''" :src="user.foodTruckImage"/>
          <img v-if="user.foodTruckImage==''" src="/images/photos/default-foodtruck.jpg"/>
          <p class="list-truck-item-name">{{ user.name }}</p>
          <p class="list-truck-item-city">{{ user.location.city }}</p>
        </div>
      </nuxt-link>
    </div>
    <Pages :nbTotalResults="nbTotalResults" :currentPage="currentPage" :baseUrl="baseUrl" />
  </div>
</div>
