<style lang="scss" src="./index.scss"></style>
<template src="./index.html"></template>
<script>
// import Map from "../components/Map.vue";
// import router from "vue-router"

export default {
  props: {
    currentPage: 0,
    baseUrl: "capout/",
    params: { perPage: 12, page: 1 },
  },
  data() {
    return {
      loading: false,
      items: [],
      search: null,
      select: null,
      communes: [],
    };
  },
  head() {
    return {
      title: "capout",
      meta: [
        {
          name: "PLannifiez vos entrainements de course à pied !",
          content: "",
          hid: "description",
        },
      ],
    };
  },

  // components: {
  //   Map,
  // },
  watch: {
    search(val) {
      val && val !== this.select && this.querySelections(val);
    },
  },
  mounted() {
    this.images = [
          "/images/photos/1.jpg",
          "/images/photos/2.jpg",
        ],
    setInterval(()=>{
    this.imageSelected = this.images[Math.floor(Math.random() * this.images.length)]
    },3000)
  },

  methods: {
    querySelections(v) {
      this.loading = true;
      this.communes = this.communesValues.filter((e) => {
        return (e || "").toLowerCase().indexOf((v || "").toLowerCase()) > -1;
      });

      this.loading = false;
    },
 
  },
  async asyncData({ $dataApi, error, route }) {
    const responseUsers = await $dataApi.getUsers(route.query);
    const responseTrainings = await $dataApi.getTrainings(route.query);
    const responsebaremeffaH = await $dataApi.getbaremeffaF(route.query);
    const responsebaremeffaF = await $dataApi.getbaremeffaH(route.query);
    const responseCommunes = await $dataApi.getCommunes(route.query);


    if (!responseUsers.ok) {
      return error({
        statusCode: responseUsers.status,
        message: responseUsers.statusText,
      });
    }
    return {
      user: responseUsers.json.results.map((user) => ({
        ...user,
        markerColor: "blue",
      }))[0],
      nbTotalResults: responseUsers.json.nbTotalResults,
      trainings: responseTrainings.json,
      communes: responseCommunes.json,
      baremeffaH:responsebaremeffaH.json,
      baremeffaF:responsebaremeffaF.json,
      imageSelected: []
    };
  },
};
</script>
