// color: #05a3af;
// background-color: #ff6239;

.index-detail-subheader {
  font-weight: bold;
  height: 500px;
  width: 100%;
  background: #016274;
  // background: linear-gradient(90deg, rgb(255, 255, 255), #01637451, #016274);

  @media screen and (max-width: 600px) {
    width: 100vw;
    border: 0;
    border-radius: 0px;
  }
}

.index-detail-subheader-title {
  position: absolute;
  top:200px;
  height: 250px;
  padding: 50px;
  opacity: 0.6;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50px;
  > div {
    font-size: 60px;
    color: #05a3af;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;
  }
  > div:nth-child(2) {
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    color: #ff6239;
  }
  p {
    color: #685206;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
  }

  @media screen and (max-width: 600px) {
    width: 100vw;
    border: 0;
    border-radius: 0px;
  }
}

.index-detail-images {
  > img{
  width: 100vw;
  height: 500px;
  object-fit: cover;
  opacity: 0.6;
  background-image: linear-gradient(transparent, #016274);
  .v-carousel {
    border-radius: 0 35px 35px 0;
  }
  @media screen and (max-width: 600px) {
    width: 80vw;
  }
}
}
.parent-map-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px;
  margin: 15px;
  @media screen and (max-width: 640px) {
    .parent-map-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
.parent-filters {
  width: 60%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.index-expansion-panel-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #cf8673;
}
