<div data-app class="app">
  <!-- https://stackoverflow.com/questions/56763032/production-build-only-error-vuetify-unable-to-locate-target-data-app -->

  <div class="">
    <div class="index-detail-subheader">
      <div class="index-detail-images">
        <img :src="imageSelected" />
      </div>
      <div class="index-detail-subheader-title">
        <div>
          CAPOUT
        </div>
        <div>
          Plannifiez vos entrainements de course à pied !
        </div>
      </div>
    </div>
  </div>

</div>
