<template>
<div class="app-search-results-page">
 <div class="app-search-results">
   <div class="app-search-results-listing">
     <h2 class="app-title">Stays in {{ label }}</h2>
     <nuxt-link v-for="user in users" :key="user.objectID" :to="`/user/${user.objectID}`">
       <UserRow class="app-house" :user="user" @mouseover.native="highlightMarker(user.objectID, true)" @mouseout.native="highlightMarker(user.objectID, false)"/>
    </nuxt-link> 
    <div v-if="users.length == 0">No users found, try another city.</div>
   </div>  
   <div class="app-search-results-map">
     <div class="app-map" ref="map"></div>
   </div>
 </div> 
</div>
</template>
<script>
export default {
  head(){
    return {
      title: `Users around ${this.label}`
    }
  },
  mounted(){
    this.updateMap()
  },
  methods:{
    highlightMarker(userId, isHighlighted){
      document.getElementsByClassName(`user-${userId}`)[0]?.classList?.toggle('marker-highlight', isHighlighted)
    },
    updateMap(){
      this.$maps.showMap(this.$refs.map, this.lat, this.lng, this.getUserMarkers())
    },
    getUserMarkers(){
      if(this.users.length ==0) return null

      return this.users.map((user) => {
        return {
          ...user._geoloc,
          pricePerNight: user.pricePerNight,
          id: user.objectID,
        }
      })
    }
  },
  async beforeRouteUpdate(to, from, next){
      const data = await this.$dataApi.getUsersByLocation(to.query.lat, to.query.lng, to.query.start, to.query.end)
      this.users = data.json.hits
      this.label = to.query.label
      this.lat = to.query.lat
      this.lng = to.query.lng
      this.updateMap()
      next()  
  },

  async asyncData({ query, $dataApi }){
    const data = await $dataApi.getUsersByLocation(query.lat, query.lng, query.start, query.end)
    return {
      users: data.json.hits,
      label: query.label,
      lat: query.lat,
      lng: query.lng,
    }
  }
}
</script>
<style>
.marker {
  background-color: white;
  border: 1px solid lightgray;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 8px;
}
.marker-highlight {
  color: white !important;
  background-color: black;
  border-color:black;
}
</style>