<footer>
     
      <ul class="footerliste">
      <li></li>
      <li> G.B. - capout.fr v1.2 - Vitesse et performance en course à pied - Contact : contact@capout.fr</li>
      <li></li>
      </ul>
         
</footer>