<template>
  <div class="app-Planning">
    <Planning
      :colors="colors"
      :trainings="trainings"
      :user="user"
      :key="user.id"
    />
    <script type="application/ld+json" v-html="getSchema"></script>
  </div>
</template>

<script>
export default {
  computed: {
    getSchema() {
      //todo
      return JSON.stringify({
        "@context": "http://schema.org",
        "@type": "BedAndBreakfast",
        name: this.user.title,
        image: this.$img(
          this.user.images[0],
          { width: 1200 },
          { provider: "cloudinary" }
        ),
        address: {
          "@type": "PostalAddress",
          addressLocality: this.user.location.city,
          addressRegion: this.user.location.state,
          postalCode: this.user.location.zipcode,
          streetAddress: this.user.location.address,
        },
        aggregateRating: {
          "@type": "AggregateRating",
          ratingValue: this.user.reviewValue,
          reviewCount: this.user.reviewCount,
        },
      });
    },
    add(accumulator, a) {
      return accumulator + a;
    },
  },
  head() {
    return {
      title: this.user.title,
      meta: [
        { hid: "og-type", property: "og:type", content: "website" },
        { hid: "og-title", property: "og:title", content: this.user.title },
        {
          hid: "og-desc",
          property: "og:description",
          content: this.user.description,
        },
        {
          hid: "og-image",
          property: "og:image",
          content: this.$img(
            this.user.images[0],
            { width: 1200 },
            { provider: "cloudinary" }
          ),
        },
        {
          hid: "og-url",
          property: "og:url",
          content: `${this.$config.rootUrl}/user/${this.user.objectID}`,
        },
        { hid: "t-type", name: "twitter:card", content: "summary_large_image" },
      ],
    };
  },

  async asyncData({ $dataApi, error, params, query }) {
    const responseUser = await $dataApi.getUsers(query);
    const responseTrainings = await $dataApi.getTrainings(query);
    // il faut surcharger trainings de la distance et l'allure (pace) en fonction du profil user
    // allure = responseUser * vmaPercent/100
    // distance = responseUser * vmaPercent/100 * time
    const responseColors = await $dataApi.getColors(query);

    if (!responseUser.ok) {
      return error({
        statusCode: responseUser.status,
        message: responseUser.statusText,
      });
    }
    if (!responseTrainings.ok) {
      return error({
        statusCode: responseTrainings.status,
        message: responseTrainings.statusText,
      });
    }
    if (!responseColors.ok) {
      return error({
        statusCode: responseColors.status,
        message: responseColors.statusText,
      });
    }
    const userCustom = responseUser.json.results.filter(
      (user) => user.id == parseInt(params.id)
    )[0];
    const trainingsCustom = responseTrainings.json.map((training) => ({
      ...training,
      color: responseColors.json[training.type][training.difficulty].color,
      globalEffort: training.activity.reduce(function(
        accumulator,
        currentValue
      ) {
        return accumulator + currentValue.timeEffort;
      },
      0),
      
    }));

    // console.log(trainingsCustom);
    return {
      user: userCustom,
      trainings: trainingsCustom,
      colors: responseColors.json,
    };
  },
};
</script>
