<div data-app class="app">
  <div class="parent-planning">
    <div class="planning-external-events" id="external-events">
      <div class="planning-external-events-title">
        Type de séance
      </div>

      <v-expansion-panels class="planning-external-events-expansion" focusable>
        <v-expansion-panel v-for="(training, index) in trainings" :key="index">
          <div v-if="index == 0">
            <v-expansion-panel-header
              >{{training.nameType}}</v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <div
                v-for="(trainingBlock, index2) in trainings"
                class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event"
                data-event='{ "title": "my event", "descriptions": "02:00" }'
                :data-event="JSON.stringify(trainingBlock)"
                :style="`background-color: ${colors[training.type][trainingBlock.difficulty].color}; border-color: ${colors[training.type][trainingBlock.difficulty].color}`"
                v-if="trainingBlock.type == training.type"
              >
                <div
                  v-if="trainingBlock.type == training.type"
                  class="fc-event-main"
                >
                  {{trainingBlock.name}}
                </div>
              </div>
            </v-expansion-panel-content>
          </div>
          <div
            v-if="index > 0 && trainings[index].type != trainings[index-1].type"
          >
            <v-expansion-panel-header
              >{{training.nameType}}</v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <div
                v-for="(trainingBlock, index2) in trainings"
                class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event"
                :data-event="JSON.stringify(trainingBlock)"
                :style="`background-color: ${colors[training.type][trainingBlock.difficulty].color}; border-color: ${colors[training.type][trainingBlock.difficulty].color}`"
                v-if="trainingBlock.type == training.type"
              >
                <div
                  v-if="trainingBlock.type == training.type"
                  class="fc-event-main"
                >
                  {{trainingBlock.name}}
                </div>
              </div>
            </v-expansion-panel-content>
          </div>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <FullCalendar
      class="custom-FullCalendar"
      :selectable="true"
      :options="calendarOptions"
    />
    <template>
      <v-row justify="center" v-if="trainingSelected && trainingSelected.type">
        <v-dialog
          v-model="dialog"
          fullscreen
          hide-overlay
          transition="dialog-bottom-transition"
        >
          <v-card style="margin-top: 85px!important;">
            <v-toolbar dark color="primary">
              <v-btn icon dark @click="dialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>Détails de la séance</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <div class="planning-detail-resume">
              <div>
                <v-icon large color="rgb(93, 179, 225)">
                  mdi-calendar-outline
                </v-icon>
                <div>{{trainingSelected.nameType}}</div>
              </div>
              <div>
                <v-icon large color="rgb(93, 179, 225)">
                  mdi-clock-fast
                </v-icon>
                <div>{{secondsToHms(trainingSelected.globalEffort)}}</div>
              </div>
              <div>
                <v-icon
                  large
                  :color="colors[trainingSelected.type][trainingSelected.difficulty].color"
                >
                  mdi-equalizer
                </v-icon>
                <div>{{trainingSelected.difficulty}}</div>
              </div>
            </div>
            <v-list
              v-for="(description , index) in trainingSelected.descriptions"
              :key="index"
              three-line
              subheader
            >
              <v-subheader>{{description.title}}</v-subheader>
              <v-list-item
                v-for="(block, index2) in description.blocks"
                :key="index2"
              >
                <v-list-item-content>
                  <v-list-item-title>{{block.subTitle}}</v-list-item-title>
                  <v-list-item-subtitle
                    >{{block.description}}</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
            </v-list>

            <v-list three-line subheader>
              <v-subheader>Objectifs à respecter</v-subheader>
              <v-list-item>
                <v-list-item-content>
                  <div
                    class="planning-trainingSelected-activity-pace"
                    v-if="trainingSelected.activity && trainingSelected.activity.length == 1"
                  >
                    <v-icon
                      :color="colors[trainingSelected.type][trainingSelected.difficulty].color"
                    >
                      mdi-run-fast
                    </v-icon>

                    <v-list-item-subtitle>
                      Courir à une allure comprise entre
                      <b>{{trainingSelected.activity[0].vmaPercent[0]}}%</b>
                      et
                      <b>{{trainingSelected.activity[0].vmaPercent[1]}}%</b>
                      de votre vma , soit entre
                      <b
                        >{{convertIntoPace(trainingSelected.activity[0].vmaPercent[1]*user.vma/100)}}</b
                      >
                      et
                      <b
                        >{{convertIntoPace(trainingSelected.activity[0].vmaPercent[0]*user.vma/100)}}</b
                      >
                    </v-list-item-subtitle>
                  </div>

                  <div
                    v-if="trainingSelected.activity && trainingSelected.activity.length > 1"
                    v-for="(activity, index3) in trainingSelected.activity"
                    class="planning-trainingSelected-activity"
                  >
                    <div class="planning-trainingSelected-activity-pace">
                      <v-icon
                        :color="colors[activity.type][activity.difficulty].color"
                      >
                        mdi-run-fast
                      </v-icon>
                      <v-list-item-subtitle>
                        Courir
                        <span v-if="activity.type!='endurance'">
                          les intervales intenses
                        </span>
                        <span v-if="activity.type=='endurance'">
                          les intervales calmes
                        </span>
                        à une allure comprise entre
                        <b>{{activity.vmaPercent[0]}}%</b>
                        et
                        <b>{{activity.vmaPercent[1]}}%</b>
                        de votre vma , soit entre
                        <b
                          >{{convertIntoPace(activity.vmaPercent[1]*user.vma/100)}}</b
                        >
                        et
                        <b
                          >{{convertIntoPace(activity.vmaPercent[0]*user.vma/100)}}</b
                        >
                      </v-list-item-subtitle>
                    </div>
                  </div>
                  <div class="planning-trainingSelected-activity-globalEffort">
                    <v-icon color="rgb(93, 179, 225)"> mdi-clock </v-icon>
                    <v-list-item-subtitle v-if="trainingSelected.globalEffort">
                      Durée séance d'environ
                      <b>{{secondsToHms(trainingSelected.globalEffort)}}</b>
                    </v-list-item-subtitle>
                  </div>
                </v-list-item-content>
              
              </v-list-item>
             
            </v-list>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
  </div>
</div>
