<style lang="scss" src="./Planning.scss"></style>
<template src="./Planning.html"></template>

<script>
//https://github.com/fullcalendar/fullcalendar-example-projects/blob/master/nuxt/pages/index.vue
import FullCalendar from "@fullcalendar/vue";
import interactionPlugin, { Draggable } from "@fullcalendar/interaction";
import timeGridPlugin from "@fullcalendar/timegrid";
import dayGridPlugin from "@fullcalendar/daygrid";
import frLocale from "@fullcalendar/core/locales/fr";
export default {
  props: {
    user: {},
    trainings: {},
    colors: {},
  },
  components: {
    FullCalendar, // make the <FullCalendar> tag available
  },
  mounted() {
    this.setupDraggable();
  },
  data() {
    return {
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      typeSeanceSelected: "",
      trainingSelected: [],

      calendarOptions: {
        plugins: [dayGridPlugin, timeGridPlugin, interactionPlugin],
        initialView: "dayGridMonth",
        selectable: true,
        events: this.user.planning,
        eventClick: this.handleEventClick,
        editable: true,
        droppable: true,
        headerToolbar: {
          left: "prev,next today",
          center: "title",
          right: "dayGridMonth,timeGridWeek,timeGridDay",
        },
        locales: [frLocale],
        locale: "fr", // the initial locale. of not specified, uses the first one
        header: false,
        height: "auto",
        // resourceLabelText: "User",
        // slotDuration: "00:15:00",
        // minTime: "07:00:00",
        // maxTime: "22:00:00",
        // minTime: "00:00:00",
        // maxTime: "23:00:00",
        // businessHours: { start: "8:00", end: "20:00" },
      },
    };
  },
  methods: {
    toggleWeekends: function() {
      this.calendarOptions.weekends = !this.calendarOptions.weekends; // toggle the boolean!
    },
    setupDraggable() {
      new Draggable(document.getElementById("external-events"), {
        itemSelector: ".fc-event",
        eventData: function(eventEl) {
          const event = JSON.parse(eventEl.getAttribute("data-event"));
          return {
            title: event.name,
            ...event
          };
        },
      });
    },
    handleEventClick: function(e) {
      var eventObj = e.event;
      this.dialog = true;
      this.typeSeanceSelected = eventObj.title;
      this.trainingSelected = eventObj.extendedProps;
     // console.log(e.event.extendedProps);
    },
    secondsToHms: function(d) {

      d = Number(d);
      var h = Math.floor(d / 3600);
      var m = Math.floor((d % 3600) / 60);
      // var s = Math.floor((d % 3600) % 60);

      var hDisplay = h > 0 ? h + (h == 1 ? "h" : "h") : "";
      var mDisplay = m;

      if (h < 1) {
        mDisplay = m > 0 ? m + (m == 1 ? " minute " : " minutes ") : "";
      }
      if (mDisplay < 10) {
        mDisplay = "0" + mDisplay;
      }
      // var sDisplay = s > 0 ? s + (s == 1 ? " seconde" : " secondes") : "";
      return hDisplay + mDisplay;
    },

    secondsToTime: function(secs) {
      
      var ret = ""; // Return value
      var s = Math.floor(secs); // Whole seconds
      var m = Math.floor(s / 60); // Whole minutes

      var m = m % 60;
      if (m < 10) ret += "0";
      ret += m;
      var s = s % 60;
      ret += ":";
      if (s < 10) ret += "0";
      ret += s;
      return ret + " min/km";
    },
    convertIntoPace: function(v) {
      var paceRun = 3600 / v;
      return this.secondsToTime(paceRun);
    },
  },
};
</script>
