

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
}

#calendar-container {
  margin-left: 250px;
}

#calendar {
  max-width: 1100px;
  margin: 20px auto;
}
.parent-planning {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.planning-external-events {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}
.planning-external-events-title {
  font-weight: 400;
  font-size: medium;
  color:rgb(41, 41, 41);
  padding: 10px;
}
.planning-external-events-expansion {
  width: 250px;

  div {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}
.custom-FullCalendar {
  margin-right: 25px;
}
.fc-button{
  height: 50px;
}
.fc-icon.fc-icon-chevron-left,.fc-icon.fc-icon-chevron-right {
  margin-bottom: 10px;
}
.planning-trainingSelected-activity {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.planning-detail-resume {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  text-transform: uppercase;
  font-size: 32px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    border-radius: 10px;
  }
}
.planning-trainingSelected-activity-globalEffort {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  text-transform: uppercase;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  max-width: 350px;

  > .v-icon {
    margin-right: 10px;
  }
}
.planning-trainingSelected-activity-pace {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 20px;

  background-color: rgb(242, 242, 242);
  border-radius: 10px;

  > .v-icon {
    margin-right: 10px;
  }
}
