@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html,
body {
  @apply font-roboto;
}

$cities: paris, new-york, london, dubai, san-francisco, cancun;
@each $city in $cities {
  .city-#{$city} {
    background-image: url(/images/photos/#{$city}.jpg);
  }
}

.app-TruckDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
