<template>
  <div class="app-speed">
    <Speed
      :user="user"
      :baremeffaF="baremeffaF"
      :baremeffaH="baremeffaH"
      :key="user.id"
    />
    <script type="application/ld+json" v-html="getSchema"></script>
  </div>
</template>

<script>
export default {
  computed: {
    getSchema() {
      //todo
      return JSON.stringify({
        "@context": "http://schema.org",
        "@type": "BedAndBreakfast",
        name: this.user.title,
        image: this.$img(
          this.user.images[0],
          { width: 1200 },
          { provider: "cloudinary" }
        ),
        address: {
          "@type": "PostalAddress",
          addressLocality: this.user.location.city,
          addressRegion: this.user.location.state,
          postalCode: this.user.location.zipcode,
          streetAddress: this.user.location.address,
        },
        aggregateRating: {
          "@type": "AggregateRating",
          ratingValue: this.user.reviewValue,
          reviewCount: this.user.reviewCount,
        },
      });
    },
    add(accumulator, a) {
      return accumulator + a;
    },
  },
  head() {
    return {
      title: this.user.title,
      meta: [
        { hid: "og-type", property: "og:type", content: "website" },
        { hid: "og-title", property: "og:title", content: this.user.title },
        {
          hid: "og-desc",
          property: "og:description",
          content: this.user.description,
        },
        {
          hid: "og-image",
          property: "og:image",
          content: this.$img(
            this.user.images[0],
            { width: 1200 },
            { provider: "cloudinary" }
          ),
        },
        {
          hid: "og-url",
          property: "og:url",
          content: `${this.$config.rootUrl}/user/${this.user.objectID}`,
        },
        { hid: "t-type", name: "twitter:card", content: "summary_large_image" },
      ],
    };
  },

  async asyncData({ $dataApi, error, params, query }) {
    const responseUser = await $dataApi.getUsers(query);
    const baremeffaH = await $dataApi.getBaremeffaH(query);
    const baremeffaF = await $dataApi.getBaremeffaF(query);

    if (!responseUser.ok) {
      return error({
        statusCode: responseUser.status,
        message: responseUser.statusText,
      });
    }
    if (!baremeffaH.ok) {
      return error({
        statusCode: baremeffaH.status,
        message: baremeffaH.statusText,
      });
    }
    if (!baremeffaF.ok) {
      return error({
        statusCode: baremeffaF.status,
        message: baremeffaF.statusText,
      });
    }
    const userCustom = responseUser.json.results[0];

    return {
      user: userCustom,
      baremeffaH: baremeffaH.json,
      baremeffaF: baremeffaF.json,
    };
  },
};
</script>
