
<h1 class="titre-dernierecap">Les dernières courses à pieds:</h1>
<table class="table"  ng-controller="getDataCtrl as vm" >
<tr>
<td style="display:none">Date</td><td>Course à pied</td><td>Vitesse</td><td>Bareme FFA</td>
</tr>
 <tr ng-repeat="data in vm.datas">
    <td style="display:none">
     {{data.date}}
    </td>

   
<td><a href="http://www.capout.fr/course-a-pied-{{data.distance}}" title="Course à pied de {{data.distance}} parcourue en {{data.temps}}" hreflang="fr"><span class="hidden-xs">Course à pied de</span> <strong>{{data.distance}}</strong> <span class="hidden-xs">réalisée en {{data.temps}}</span></a></td>
<td>{{data.vitesse}}</td>
<td>{{data.bareme}}</td>          
 </tr>
    </table>