<div ng-controller="vitesseCtrl as vm" > 

<div class="block1">
  <ul class="block2">
    <li><routage   template-url="vitesse"></routage></li>    
    <h2 style="margin-top:25px;font-size: 12px">Renseignez la distance parcourue et le temps effectué. L'application en déduira la vitesse moyenne, et la performance associée</h2>
    <li><routage  ng-controller="graph1Ctrl as vmp"  template-url="graph1"></routage></li>
    <li><routage  ng-controller="allureCtrl as vmp"  template-url="allure"></routage></li>
    <li><routage  ng-controller="tpspassageCtrl as vmp"  template-url="tps-passage"></routage></li>
  </ul>

</div>
 
</div>