<header class="header">
  <v-toolbar color="deep-purple accent-4" dense>
      <v-toolbar-title
        ><span class="header-m">C</span>a<span class="header-f">P</span>ou<span
          class="header-t"
          >T</span
        ></v-toolbar-title
      >

      <v-spacer></v-spacer>
      <v-toolbar-items   >
        <v-menu content-class="gaet" >
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="#fff" flat v-bind="attrs" v-on="on">
              Outils
            </v-btn>
          </template>
          <v-list>
            <v-list-item :to="'/calcul-vitesse-performance/'">
              <v-list-item-title >Vitesse & Performance</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>Analyse trace gps</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>
      <v-spacer></v-spacer>

      <v-btn icon>
        Courses
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn icon v-if="isConnected()" :to="'/planning/' + user.id">
        Plans
      </v-btn>
      <v-btn icon v-if="!isConnected()" @click="dialogIfNotConnected = true">
        Plans
      </v-btn>
      <v-spacer></v-spacer>

      <v-menu v-if="!isConnected()" left bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            style="margin-right: 50px;"
            icon
            v-bind="attrs"
            v-on="on"
            @click="dialogIfNotConnected = true"
          >
            <v-icon>mdi-account-circle</v-icon>
            Se connecter
          </v-btn>
        </template>
      </v-menu>

      <v-menu v-if="isConnected()" left bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn style="margin-right: 50px;" icon v-bind="attrs" v-on="on">
            <v-avatar>
              <img
                src="user.avatar"
                alt="user.name"
              >
            </v-avatar>
          </v-btn>
        </template>
        <v-list>
          <v-list-item>
            <v-list-item-title>Mon profil</v-list-item-title>
            <v-list-item-title>Mes stats</v-list-item-title>
            <v-list-item-title>Se déconnecter</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
  </v-toolbar>
  <template>
    <v-row justify="center">
      <v-dialog v-model="dialogConnection" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">
            Open Dialog
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">Connexion</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <template>
                <v-form
                  v-if="!forgetPwd"
                  ref="formConnection"
                  v-model="validConnection"
                  lazy-validation
                >
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="pwd"
                    :counter="16"
                    :rules="pwdRules"
                    label="Mot de passe"
                    required
                  ></v-text-field>

                  <v-checkbox
                    v-model="checkbox"
                    :rules="[v => !!v || '']"
                    label="Je ne suis pas un robot"
                    required
                  ></v-checkbox>

                  <v-btn
                    :disabled="!validConnection"
                    :class="'btn-'+validConnection"
                    @click="handleConnection"
                  >
                    Se connecter
                  </v-btn>
                  <v-btn style="margin-left:15px" @click="forgetPwd = true">
                    J'ai oublié mon mot de passe
                  </v-btn>
                </v-form>
                <v-form
                  v-if="forgetPwd"
                  ref="formForgetPwd"
                  v-model="validForgetPwd"
                  lazy-validation
                >
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                  ></v-text-field>

                  <v-checkbox
                    v-model="checkbox"
                    :rules="[v => !!v || '']"
                    label="Je ne suis pas un robot"
                    required
                  ></v-checkbox>

                  <v-btn
                    :disabled="!validForgetPwd"
                    :class="'btn-'+validForgetPwd"
                    @click="handleForgetPwd"
                  >
                    Renvoyer le mot de passe
                  </v-btn>
                </v-form>
              </template>
            </v-container>
            <small>*indique un champs obligatoire</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogConnection = false">
              Fermer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </template>
  <template>
    <v-row justify="center">
      <v-dialog v-model="dialogSubscription" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">
            Open Dialog
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">Création Nouveau Compte</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <template>
                <v-form
                  ref="formSubscription"
                  v-model="validSubscription"
                  lazy-validation
                >
                  <v-text-field
                    v-model="name"
                    :counter="15"
                    :rules="nameRules"
                    label="Name"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="pwd"
                    :counter="16"
                    :rules="pwdRules"
                    label="Mot de passe"
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="pwdConfirm"
                    :counter="16"
                    :rules="pwdConfirmRules"
                    label="Mot de passe confirmation"
                    required
                  ></v-text-field>

                  <v-checkbox
                    v-model="checkbox"
                    :rules="[v => !!v || '']"
                    label="Je ne suis pas un robot"
                    required
                  ></v-checkbox>

                  <v-btn
                    :disabled="!validSubscription"
                    :class="'btn-'+validSubscription"
                    @click="handleSubscription"
                  >
                    Valider inscription
                  </v-btn>
                </v-form>
              </template>
            </v-container>
            <small>*indique un champs obligatoire {{validSubscription}}</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="dialogSubscription = false"
            >
              Fermer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </template>
  <template>
    <v-row justify="center">
      <v-dialog
        v-model="dialogIfNotConnected"
        persistent
        content-class="dialog-connect"
      >
        <v-card>
          <v-card-title>
            Connectez vous pour accéder à cette fonctionnalité !
          </v-card-title>
          <v-card-text
            >Si vous n'avez pas encore créer un compte, c'est le moment! Vous
            pourrez ensuite utiliser l'outil de plannification pour vos
            entrainements de course à pied</v-card-text
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green darken-1"
              text
              @click="dialogIfNotConnected = false"
            >
              Plus tard
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              @click="dialogIfNotConnected = false; dialogConnection=true"
            >
              J'ai déjà un compte
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              @click="dialogIfNotConnected = false; dialogSubscription=true"
            >
              OK je m'inscris !
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </template>
</header>
