<style lang="scss" src="./Header.scss"></style>
<template src="./Header.html"></template>

<script>
export default {
  props: {},
  mounted() {
    if (this.$route.query.result == "success") {
      alert("Success!");
    }
  },
  methods: {
    isConnected() {
      return false;
    },
    handleSubscription() {
      console.log("handleSubscription");
      this.$refs.formSubscription.validate();
    },
    handleConnection() {
      console.log("handleConnection");
      this.$refs.formConnection.validate();
    },

    // reset() {
    //   this.$refs.form.reset();
    // },
    // resetValidation() {
    //   this.$refs.form.resetValidation();
    // },
  },
  data() {
    return {
      dialogIfNotConnected: false,
      dialogConnection: false,
      validConnection: false,
      dialogSubscription: false,
      validSubscription: false,
      dialogResetPwd: false,
      validForgetPwd: false,
      forgetPwd: false,
     
      name: "",
      nameRules: [
        (v) => !!v || "un nom d'utilisateur est requis",
        (v) =>
          (v && v.length <= 15) || "le nom doit faire moins de 15 caractères",
      ],
      pwd: "",
      pwdRules: [
        (v) => !!v || "un mot de passe est requis",
        (v) =>
          (v && v.length >= 8 && v.length <= 16) ||
          "la longueur du mot de passe doit être comprise entre 8 et 16 caract.",
      ],
      pwdConfirm: "",
      pwdConfirmRules: [
        (v) => !!v || "veuillez confirmer le mot de passe",
        (v) => v == this.pwd || "les 2 mots de passes ne sont pas identiques",
      ],
      email: "",
      emailRules: [
        (v) => !!v || "une adresse e-mail est requise",
        (v) => /.+@.+\..+/.test(v) || "l'adresse e-mail doit être correcte",
      ],
      checkbox: false,
    };
  },
};
</script>
