// color: #05a3af;
// background-color: #f86440;
.v-btn:active {
  outline-color: transparent;
}

.gaet {
  margin-top: 75px;

  .v-list-item__title {
    padding: 20px;
    min-width: 200px !important;
  }
  .v-list,.v-list-item{
    padding:0;
  }
  .v-list-item__title:hover {
    cursor: pointer;
    background-color: #05a3af;
  }
}
.parent-header {
  position: relative;
  margin-bottom: 80px;
  z-index: 9999;
}
.header-m {
  color: #05a3af;
}
.header-f {
  color: #118b94;
}
.header-t {
  color: #0c6d74;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw !important;
  height: 80px !important;
  header,
  .v-toolbar__content {
    height: 80px !important;
    width: 100vw !important;
  }
  .mdi {
    margin-left: -5px;
  }
  @media screen and (max-width: 600px) {
    padding: 0px;
    flex-direction: column;
  }
}
.dialog-connect {
  max-width: 550px;
  text-align: justify;
}

.btn-true {
  background-color: #05a3af !important;
}

.btn-false {
  background-color: red;
}
