<div class="pager">

  <!-- previous page link -->
  <div
    class="pager-element pager-carret"
    v-if="currentPage !== 1"
    @click="handlePageClick(currentPage - 1)"
  >

    <a :href="`${baseUrl}/page-${currentPage}-1`">
      <i class="fa fa-chevron-left"></i>
    </a>
  </div>

  <!-- first page -->
  <div
    class="pager-element clickable-page"
    v-if="currentPage !== 1"
    @click="handlePageClick(1)"
  >
    <a>
      1
    </a>
    
    <a :href="`${baseUrl}/page-1`"></a>
  </div>

  <!-- 3 points apres premiere page  -->
  <div class="pager-element page-separator" v-if="currentPage > 3">...</div>

  <!-- previous page -->
  <div
    class="pager-element clickable-page"
    v-if="currentPage > 2"
    @click="handlePageClick(currentPage - 1)"
  >
    {{currentPage - 1}}
    
    <a :href="`${baseUrl}/page-${currentPage}-1`"></a>
  </div>

  <!-- page courante -->
  <div class="pager-element current-page">
    {{currentPage}}
    <span v-if="currentPage === nbPages">+</span>
    <a :href="`${baseUrl}/page-${currentPage}`"></a>
  </div>

  <!-- next page -->
  <div
    class="pager-element clickable-page"
    v-if="currentPage < nbPages - 1"
    @click="handlePageClick(currentPage + 1)"
  >
    {{currentPage + 1}}
    <a :href="`${baseUrl}/page-${currentPage}+1`"></a>
  </div>

  <!-- 3 points avant derniere page  -->
  <div class="pager-element page-separator" v-if="currentPage < nbPages - 2">
    ...
  </div>

  <!-- last page -->
  <div
    class="pager-element clickable-page"
    v-if="currentPage < nbPages"
    @click="handlePageClick(nbPages)"
  >
    {{nbPages}}
    <span v-if="showPlus">+</span>
    <a :href="`${baseUrl}/page-${nbPages}`"></a>
  </div>

  <!-- next page link -->
  <div
    class="pager-element pager-carret"
    v-if="currentPage < nbPages"
    @click="handlePageClick(currentPage + 1)"
  >
    <a>
      <i class="fa fa-chevron-right"></i>
    </a>
    <a :href="`${baseUrl}/page-${currentPage}+1`"></a>
  </div>
</div>
