.pager {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;

  .pager-element {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    outline-style: none;
    @media screen and (max-width: 600px) {
      font-size: 12px;
      width: 30px;
      height: 30px;
    }
  }

  .clickable-page {
    color: #05a3af;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .current-page {
    color: white;
    background-color: #05a3af;
    border-radius: 50%;
  }

  .pager-carret {
    border-radius: 50%;
    border: solid 1px #05a3af;
    color: #05a3af;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
