<style lang="scss" src="./Pages.scss"></style>
<template src="./Pages.html"></template>
<script>
export default {
  props: {
    nbPages: 30,
    showPlus: false,
    nbTotalResults: 0,
    currentPage: 0,
    baseUrl: "",
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.nbPages = Math.ceil(
        this.nbTotalResults / this.$pagerService.getPerPage()
      );

      // on limite à 30 pages
      if (this.nbPages > 30) {
        this.nbPages = 30;
        this.showPlus = true;
      }
      if (!this.currentPage) {
        this.currentPage = 1;
      }
    },
    handlePageClick(pageNum) {
      // topPageService.goToTopOfPageAndDeletePosition();
      pageChangeHandler(pageNum);
    },
  },
};
</script>
